[2019-07-24 16:55] jeongyoonlee opened #10 "Add integration tests"
We need integration tests for key functions:

- [x] S-Learner
- [x] T-Learner
- [x] X-Learner
- [x] R-Learner
- [ ] UpliftDecisionTree
- [x] UpliftRandomForest
- [x] Synthetic Data Generation for Classification
- [x] Synthetic Data Generation for Regression

[2019-07-26 20:20] #10 closed, assigned to jeongyoonlee

[2019-08-02 21:54] jeongyoonlee opened #13 "Increasing the test coverage to 70%"
Per ML WG's request, we need to increase the test coverage to 70% before we release Causal ML as OSS.

[2019-08-02 21:59] jeongyoonlee opened #14 "Updating the disclaimer to reflect the incubation stage."
Per the request from the OSS Committee, we need to update the disclaimer to reflect the stage of the project, which is incubation.

[2019-08-02 23:12] #14 closed, assigned to jeongyoonlee

[2019-08-05 22:10] ppstacy opened #15 "Fix the TLearner linear regression issue"

[2019-08-06 23:30] #15 closed, assigned to ppstacy

[2019-08-09 01:17] #13 closed, assigned to jeongyoonlee

[2019-08-09 01:41] jeongyoonlee opened #18 "Add docs from new_project_templates"
As part of [Step 6](https://docs.google.com/document/d/1jt9RenVkkOdqoUCZhGkBovLAxSigxkTo1sv3zgJKdhA/edit#heading=h.hlo3nq9rkeqj), docs from [new_project_templates](https://github.com/uber/new-project-templates) need to be added.

[2019-08-09 12:29] t-tte opened #20 "Move meta-learner classifiers from tree to meta"
Moving the meta-learner classifiers from tree to meta seems to be as easy as calling predict_proba() rather than predict() for some of the base-learners.

There seem to be two easy ways to incorporate the change:

1.  Let the user specify the nature of the task as an argument
2. Check the type of the outcome variable and/or whether the passed learner has the predict_proba() attribute

[2019-08-09 20:40] #18 closed, assigned to jeongyoonlee

[2019-08-13 14:16] jeongyoonlee opened #21 "Host API docs"
Need to host API docs somewhere.
- readthedocs.org
- uber.github.io
- a custom website

[2019-08-13 14:17] jeongyoonlee opened #22 "Write an arXiv paper about the package for citation"

[2019-08-14 00:56] jeongyoonlee opened #26 "PIP installation error on LINUX"
`pip install causalml` fails because `requirements.txt` is not in `MANIFEST.in`, thus included in the package.

[2019-08-14 01:35] #26 closed

[2019-08-15 00:12] jeongyoonlee commented on #21
The API docs are available on causalml.readthedocs.io.

[2019-08-15 00:12] #21 closed

[2019-08-15 00:37] jeongyoonlee opened #29 "Make meta-learners compatible with pandas.DataFrame inputs"
Currently meta-learners functions expect `numpy.matrix` as an input. e.g.  `inference.meta.LRSLearner.estimate_ate()` fails when the input is `pandas.DataFrame` instead of `numpy.matrix`.

It'd be better to make these compatible with `pandas.DataFrame` inputs.

[2019-08-15 10:46] t-tte opened #30 "Treatment effect bound calculation doesn't match the provided reference"
For example, the t-learner calculates the bounds for the estimated treatment effect as follows:

[code]

However, this doesn't seem to match the referenced equation by [Woolridge and Imbens (2009)](https://www.nber.org/papers/w14251.pdf), which is:

<img width="577" alt="Screenshot 2019-08-15 at 12 41 03" src="https://user-images.githubusercontent.com/23464531/63089989-0c8c6480-bf5a-11e9-8d5a-4336

[2019-08-22 22:03] jeongyoonlee commented on #30
Per @huigangchen:

[2019-08-22 22:03] #30 closed

[2019-08-23 20:04] jeongyoonlee opened #33 "Add Qini curves and coefficients to metrics"
Add Qini curves and coefficients to metrics as defined in [Radcliffe 2007, "Using Control Groups to Target on Predicted LIft: Building and Assessing Uplift Models"](https://pdfs.semanticscholar.org/147b/32f3d56566c8654a9999c5477dded233328e.pdf).

[2019-08-23 20:14] jeongyoonlee opened #34 "Fix uplift curves"
The y-axis of current uplift curves (`metrics.plot_gain()`) is not correct. It is supposed to be the cumulative lift times the population for the cumulative quantiles, but currently it is the cumulative lift times 1 ~ 100.

Also it shows incorrect uplift curves for the imbalance data set because it sorts the data set separately for the treatment and control groups.

[2019-08-25 16:54] #34 closed

[2019-08-26 04:16] novalearn opened #36 "PIP installation error on Windows"
Below is the pip install error:

 C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Tools\MSVC\14.22.27905\bin\HostX86\x64\cl.exe /c /nologo /Ox /W3 /GL /DNDEBUG /MT -IC:\ProgramData\Anaconda3\lib\site-packages\numpy\core\include -IC:\ProgramData\Anaconda3\lib\site-packages\numpy\core\include -IC:\ProgramData\Anaconda3\include -IC:\ProgramData\Anaconda3\include -IC:\ProgramData\Ana

[2019-08-26 07:22] zhiruiwang opened #37 "Any plan for model explanation functionality?"
Tried this package, had to say it is marvelous! I will not hesitate to use it in my real-life work, but wonder if there is plan to add support for model explanation tool such as feature importance plot, SHAP plot or tree visualizer. It would be crucial to present the model explanation to business stakeholders.
Thanks for open sourcing this package!

[2019-08-27 12:32] LinyingYang commented on #37
Same question here. Would it be possible to add functions about subgroup partition?

[2019-08-27 15:59] #20 closed, assigned to t-tte

[2019-08-27 18:48] t-tte opened #40 "Add net value optimization for classifier meta-learners"
As the result of PR #39, we lost the net value optimisation approach previously implemented for R- and X-learners. The reference for the approach is: https://arxiv.org/abs/1908.05372

It should also be very straightforward to extend the approach to S- and T-learners.

[2019-08-28 00:38] yluogit opened #41 "Add xgboost with pairwise ranking objective as a derived class of base rlearner regressor"

[2019-08-29 22:41] #41 closed

[2019-08-30 02:57] novalearn commented on #36
As mentioned on that SO post, install Windows 10 SDK solved the problem for me.
More specifically, here are what I have installed: Visual Studio Build Tools 2019 with MSVC, windows 10 SDK, CMake.

[2019-08-30 04:51] #36 closed

[2019-08-30 05:48] jeongyoonlee commented on #36
Thanks for reporting the result back. Glad to hear that you were able to resolve it. Please try out causalml and let us know what you think. :)

[2019-09-06 03:34] #33 closed

[2019-09-09 17:50] t-tte opened #49 "Pseudo-residual defined wrong in X-Learner documentation"
In methodology.rst we have:

Should read:

[2019-09-09 18:12] #49 closed

[2019-09-13 18:21] BrianMiner opened #52 "Question: Propensity Score?"
Great library, just starting to take a look but I didnt immediately see documentation to answer the question I had in regards to if in the available methods, there is any distinction between observational or experimental data and specifically if propensity scores (propensity to be treated) were leveraged for observational data - perhaps as weights or through matching or as a covariate?

[2019-09-14 07:14] t-tte commented on #52
Great question. The learners in the package assume that the treatment assignment is unconfounded conditional on the covariates, also sometimes known as the conditional ignorability assumption:

<img width="200" alt="Screenshot 2019-09-14 at 07 34 29" src="https://user-images.githubusercontent.com/23464531/64904451-386a4980-d6c2-11e9-86b3-479b46c087b0.png">

With experimental data, this assumption

[2019-09-16 12:18] BrianMiner commented on #52
I am quite familiar with uplift and the various ways of modeling - but was / am unfamiliar with these meta learners and will need to read up on them. In short is it correct to say then that there is no adjustment for non-random treatment assignment in the package except for the X and R learners and these apply (im guessing) inverse propensity scores (for ATE or ATT?)?

[2019-09-16 12:51] t-tte commented on #52
All of the meta-learners "adjust for" non-random treatment assignment if and only if you've included all of the relevant confounders in the matrix of features X, which a very difficult task. X/R-learners happen to use the propensity score but that is a separate issue.

[2019-09-17 18:44] jeongyoonlee commented on #37
Thanks for the idea @zhiruiwang. Adding feature importances for both meta-learners and uplift trees will be straightforward, and a good next step.

@LinyingYang, could you please elaborate more on what you mean by functions about subgroup partition?

[2019-09-18 20:06] BrianMiner opened #54 "Speed up UpliftRandomForestClassifier?"
I am trying to fit this with only 100 trees on a dataset of roughly 200,000 records and 80 features. It takes hours to fit (and the results so far has been poor - overfit it appears, I am tuning some regularization as we speak). I am wondering if there this speed is normal and if there are any plans to improve (I did not see any option to grow the trees in parallel)? Also - on a real world data se

[2019-09-21 15:18] BrianMiner commented on #52
I agree with the first sentence, this is the idea of using regression adjustment in the basic traditional causal inference with observational data approach.

When I think of using a propensity score to attempt to estimate the causal effect of a treatment given confounding / selection bias I think of the traditional statistical means of doing this through matching (and then typically estimating the

[2019-09-21 15:26] BrianMiner commented on #52
And also as such....we are always estimating ATE and not ATT with the functions in this library?

[2019-09-23 12:52] t-tte commented on #52
That's right, the methods don't use propensity scores in the sense of matching or inverse probability of treatment weighting.

As you said, the X-Learner uses propensity score to combine estimations. In the R-Learner, the propensity score can be understood as removing regularization bias, as discussed by [Chernozhukov et al](https://onlinelibrary.wiley.com/doi/full/10.1111/ectj.12097).

In general

[2019-09-23 13:17] BrianMiner commented on #52
Makes sense, that we are always estimating the (conditional) ATE here since we are _only_ applying regression control through X (not by weighting or matching). The CATE must become CATT when you first use matching though (and I see a nearest neighbor matching is implemented). Good stuff.

[2019-09-23 13:31] #52 closed

[2019-09-23 22:18] yungmsh commented on #37
Working on adding feature importance to base meta learners here: https://github.com/uber/causalml/pull/58. We plan on exploring SHAP/LIME and other tree visualizations in future iterations.

[2019-09-25 21:26] ppstacy opened #59 "Use n_jobs = -1 for cross_val_predict() function for R Learner"

[2019-09-26 21:11] #59 closed

[2019-09-27 09:47] yishilin14 opened #61 "Add a link to docs in README"
I guess it would be better to have a link to documents in the README page.

Is [this](https://causalml.readthedocs.io/en/latest/about.html) the official documents?

[2019-09-27 18:22] zhenyuz0500 commented on #54
Hi BrianMiner,

Thanks for the feedback!

Here are some comments and thoughts:
(1) Yes, uplift trees (KL, ED, CHI, CTS) are slow for handling large dataset for now
(2) There is a plan to accelerate these algorithms, but it will not be implemented in the next couple months
(3) You can focus on meta learners, such as two models, x-learner, and r-learner for now, since they are relatively fast
(4) ba

[2019-09-29 04:31] yishilin14 opened #62 "Any plan for ATT and ATC estimation?"
Nice package. I am just wondering if there is plan to add support for ATT and ATC estimation?

[2019-10-02 21:15] jeongyoonlee commented on #61
Thanks for the comment. Yes, it is the official document. We will add it to `README.md`.

[2019-10-03 20:48] jeongyoonlee opened #65 "Bug in BaseRClassifier with multiple treatment"
`BaseRClassifier`'s `fit()` raises an error with incorrect filtering with multiple treatments.

[2019-10-04 04:18] #65 closed

[2019-10-04 04:18] #61 closed

[2019-10-08 16:18] t-tte commented on #62
We currently have no plans to implement ATT or ATC estimation, but I'm curious: what is the specific use case for which you'd like to estimate these quantities? The reason I'm asking is that in most uplift modeling use cases we're interested in the conditional average treatment effect more generally.

[2019-10-08 16:21] t-tte commented on #40
Update on this: we're going to implement a brand new method that can be used with any learner that estimates conditional average treatment effects. Testing is currently in progress.

[2019-10-08 20:55] ppstacy opened #67 "Add bootstrap confidence intervals for ATE"
It seems we are returning the percentile results instead of the CI.
https://github.com/uber/causalml/blob/master/causalml/inference/meta/rlearner.py#L174-L175

[2019-10-09 00:04] jeongyoonlee commented on #67
@ppstacy it looks correct to me. It's how we calculate the booststrap CI.

[2019-10-11 17:51] jeongyoonlee commented on #67
From the offline discussion with @ppstacy: Causal ML has bootstrap CIs for ITE, but not ATE. Current CI estimates for ATE from `estimate_ate()` are often too narrow, and we may want to add bootstrap CIs for ITE as well as alternative.

I'm changing the title to reflect the discussion.

[2019-10-11 17:53] t-tte commented on #67
+1 for bootstrapping the CIs for ATE.

[2019-10-16 18:31] nsalas24 opened #70 "Propensity score requirement in X-learner and R-learner"
First, thanks for open-sourcing this package. I've learned a lot!

I'm wondering if there's a particular reason why the user must pass self generated propensity scores to be used in the X-learner and R-learner? While it most likely forces the user to understand how well calibrated the scores are, I would think there's validity in estimating them 'under the hood' using the `learner` or another supp

[2019-10-18 10:17] DSXiangLi opened #71 "Tree-based algorithms supports continuous target?"

[2019-10-18 10:49] t-tte commented on #70
Thanks for the comment. It may be a good idea to implement some optional "under the hood" calculation of the propensity score in future versions. The package comes with the simple ElasticNetPropensityModel class for urgent needs.

As you suggest, in X/R-Learner the propensity score doesn't play the same role as it does in observational causal inference. There is a case for highlighting this in the

[2019-10-18 10:55] t-tte commented on #71
The uplift forest algorithms don't currently support continuous target variables, and we have no immediate plans to implement such a feature. The main reason is that our testing hasn't showed a major difference between uplift forests and meta-learners in the binary case, and we don't have a particular reason to expect such a difference in the continuous case. With all that being said, we're happy

[2019-10-18 23:01] #67 closed

[2019-10-18 23:01] #37 closed

[2019-10-20 02:07] DSXiangLi commented on #71
@t-tte Thanks for the quick response!

what about the casual tree algorithm defined in these 2 papers.
https://arxiv.org/abs/1902.00087. “Learning triggers for heterogeneous treatment effects
https://arxiv.org/pdf/1504.01132.pdf Recursive partitioning for heterogeneous causal effects

Because I found the tree visualization very useful in practice, compared to the meta learning.

Basically for cont

[2019-10-20 02:55] DSXiangLi opened #73 "add proportion of sample in addition to total sample size"
In tree visualization, I found it helpful to add proportion of sample in addition to total sample size. Because sample size varies from train to validation, while proportion may be similar

[2019-10-20 06:40] jeongyoonlee commented on #71
Thanks for the comment, @DSXiangLi. We have implementation of causal tree from the second paper by Athey and Imbens, but it's still in experimental and work in progress. We will keep you posted once it's ready for general use.

[2019-10-24 13:25] nsalas24 commented on #70
@t-tte I can take a first stab at this.

[2019-10-28 09:35] MaximilianFranz opened #76 "Installation fails with pip and from source in Python 3.7"
Hey there,

I was trying to add `causalml` as a dependency to our project. When trying `pip install causalml` this error occurred:

[code]

After install Cython and running `pip install causalml` this occurred:

[code]

I'm not familiar with the intricacies of Cython and compiling `.pyx` files, thus I can't point at any potential underlying issue. Maybe it's just me?

Any ideas or tips how to solv

[2019-10-28 19:17] jeongyoonlee commented on #76
Hi @MaximilianFranz, which platform are you using? I just tried to pip-install `causalml` in a conda environment on macOS Mojave without `Cython` and it went through without an error - It installed missing dependencies including `Cython`.

Sometimes, `Cython` causes an issue with incompatible GCC version installed in the system. If you're on macOS, upgrading X Code with command line tools might he

[2019-10-28 19:53] MaximilianFranz commented on #76
Hey, @jeongyoonlee, thanks for the fast reply. I set up an empty conda (v.4.7.12) env on MacOS 10.14.6 Mojave and tried again. Same thing happens.
`gcc --version` yields
[code]
I just updated X-Code Command Line Tools, but the `gcc --version` yields the same output and `pip install causalml` still fails with missing Cython.

Can I be of help with any further information about the system? For my co

[2019-10-28 21:43] jeongyoonlee commented on #76
From the path, I noticed that you use Python 3.7. To isolate the issue, could you try pip-install on Python 3.6 env? Thanks!

[2019-10-29 07:26] MaximilianFranz commented on #76
Indeed, **it works** with Python 3.6.9!
It seems that with Python 3.7 it has problems 1) determining and fetching dependencies and 2) building .pyx files, maybe because of `PEP 538`?

I found [this](https://github.com/numpy/numpy/issues/12977) issue when searching for the error I got installing causalml on python 3.7 (after manually installing numpy and cython). Seems to be a version conflict in n

[2019-10-29 08:38] MaximilianFranz commented on #76
Also, providing pre-compiled [Wheels](https://packaging.python.org/tutorials/packaging-projects/) might solve the problem..

[2019-10-29 17:48] jeongyoonlee commented on #76
I noted other OSS projects had similar issues reported. Providing a new wheel seems the easiest solution for macOS. I will upload one soon and keep you posted. Thanks for checking!

[2019-10-29 18:30] jeongyoonlee commented on #76
Just uploaded a new wheel for Python 3.7 on macOS. @MaximilianFranz, could you try it again and let me know if it works?

[2019-10-29 18:36] jeongyoonlee commented on #76
Also the error message was caused by the new `scikit-learn` version (0.21.x) due to the changes in their Cython code. When I used `scikit-learn==0.20.3`, it worked for me with Python 3.7 on macOS.

Currently, the old versions of some packages including matplotlib, scipy, etc. are needed for Python 2.x support. We will discuss if we can drop Python 2.x support.

Thanks!

[2019-10-30 09:33] MaximilianFranz commented on #76
Hey @jeongyoonlee, the wheel for 3.7 works. Thank you very much!
Let's hope the Cython and scikit versions are updated soon to work together again, because pinning versions might lead to conflicts in packaging later on.
It's for you to decide to close or not!

[2019-10-30 18:11] jeongyoonlee commented on #76
No problem. We also want to take advantage of latest versions. Please stay tuned. :)

[2019-10-30 18:11] #76 closed

[2019-11-05 09:44] MaximilianFranz commented on #76
Hey @jeongyoonlee, would you be able to release a version for Python 3.7 that does not have the pinned requirements for SciPy and `matplotlib`?
As far as i can see, these are only required for Python 2.X support. However, in our project, we need to manually pin matplotlib in the conda env in order to be able to install causalml, which leads to problems further down the road.

As to the problem wit

[2019-11-05 09:52] FlorianWilhelm commented on #76
@jeongyoonlee, thanks for your replies. I don't understand why a library like CausalML would need to pin its dependencies for Python 2 support. Since libraries like matplotlib use the `python_requires>=...` option in `setup.py` or `setup.cfg`, they define which Python version a given version of the library requires at least.

That means that if you would not pin your dependencies like matplotlib i

[2019-11-05 21:32] jeongyoonlee commented on #76
Thanks for the comments, @FlorianWilhelm and I agree that it'd be ideal without pinning specific versions, but, unfortunately, it is not the case here because some packages don't follow the practice specifying `python_requires`, `install_requires` and `setup_requires` within their `setup.py`. - We have a Python 2.7 CI/CD set up at work, and without specifying those versions, installation failed. :

[2019-11-06 18:27] FlorianWilhelm commented on #76
@jeongyoonlee, thanks I am looking forward to the new release! Will you also add `cython` to `setup_requires` since currently, one cannot use a `requirements.txt` file to install CausalML because of that missing dependency. One has to install `cython` separately.

[2019-11-06 18:41] jeongyoonlee commented on #76
I see. Could you please file a separate issue for this? I will work on it. Or even better, if you submit a PR - after creating an issue, that will be great as well. ;)

Thanks again!

[2019-11-06 20:09] FlorianWilhelm opened #77 "Usage of setup_requires to define cython dependency"
Right now `cython` and `numpy` is needed to run `setup.py` which leads to a hen and egg problem. If I want to install CausalML in a fresh virtual environment using a `requirements.txt` file, which includes `cython` and `numpy`, the installation will fail because both aren't installed before the `setup.py` file of CausalML is read.

The is problem is also subject of following [StackOverflow issue](

[2019-11-06 20:30] FlorianWilhelm commented on #77
Have you ever considered using `setup.cfg` for most of your configurations? Take a look at [PyScaffold](https://pyscaffold.org/) for setting up projects really easily ;-)

[2019-11-07 17:22] jeongyoonlee commented on #77
I haven't. Looks very convenient for a new project. Would you recommend that we migrate causalml to PyScaffold as shown [here](https://pyscaffold.org/en/latest/migration.html)?

I guess that for the complex issues like cython vs. numpy and other compatibility issues among dependencies still need to be addressed manually.

[2019-11-07 17:34] jeongyoonlee commented on #77
Addressed by @FlorianWilhelm with PR #78, which will be included in 0.5.0 release.

[2019-11-07 17:34] #77 closed

[2019-11-07 21:23] FlorianWilhelm commented on #77
@jeongyoonlee, thanks for merging my PR so fast. Regarding PyScaffold I think CausalML could benefit from the more declarative approach of using a `setup.cfg` instead of a manually written `setup.py` with the exception of Cython extensions and Numpy includes. Also, the `src` layout helps to overcome a common error when [tox is testing something different than what you actually expect](https://bski

[2019-11-08 05:19] paullo0106 commented on #73
Like this kind of proportion calcs in R? Attainable by adding a couple of lines in [tree/plot.py](https://github.com/uber/causalml/blob/master/causalml/inference/tree/plot.py)
![image](https://user-images.githubusercontent.com/4966393/68451295-0f86a200-01a3-11ea-82fc-ba339114478b.png)

[2019-11-08 06:03] DSXiangLi commented on #73
Exactly. And also this should apply to tree_fill method too. Since validation size and train size are not comparable, displaying n_sample in the node is not very informative some times.

[2019-11-09 00:20] jeongyoonlee opened #81 "Drop Python 2 support"
This task is to drop Python 2 support and allow users to use latest versions of dependencies such as scipy, scikit-learn, matplotlib, pandas, etc. which only support Python 3 in their latest releases.

It requires updating `setup.py` and check compatibilities between `causalml` and other latest libraries. Currently latest `scikit-learn` is not compatible with `causalml` because of its change in Cy

[2019-11-10 21:46] hugovk commented on #81
See also "NEP 29 — Recommend Python and Numpy version support as a community policy standard":

* https://numpy.org/neps/nep-0029-deprecation_policy.html

[2019-11-11 09:44] MaximilianFranz opened #82 "Propensity Score Estimation with Classifiers"
Hey there!

I was wondering about the best way to do propensity score estimation in the models that require it. I saw you are using an `ElasticNetCV` with clipping as a default. What were the considerations behind that decision? From what I know, using regressors for estimating class probabilities is tricky, unless it's a LogisticRegression (which seems to be part of the ElasticNet, right?).

When

[2019-11-12 02:31] paullo0106 commented on #73
@zhenyuz0500 I'd be happy to help with this enhancement if you agree with the ask/ solution 😃

[2019-11-13 22:22] jeongyoonlee commented on #82
Thanks for your comment, @MaximilianFranz. We initially decided not to include full scale propensity score modeling in causalml because our focus is on uplift modeling and we think it's better to keep propensity estimation separately.

I'd like to learn your thoughts on what are some pros and cons of including propensity modeling as well. :)

That said, we just added `calibrate()` based on GAM to

[2019-11-13 22:25] jeongyoonlee opened #83 "Fix CausalTreeRegressor"
`CausalTreeRegressor`'s ATE/ITE estimates are off with synthetic data 2, 3, and 4.

[2019-11-14 01:07] #62 closed

[2019-11-14 09:11] MaximilianFranz commented on #82
Thanks for the reply! Cool to see the new calibrated version. It seems to work well, but requires the true treatment of the test-set in the case of this plot-experiment (see the green curve, compared to the orange one) :

![Screenshot 2019-11-14 at 10 06 58](https://user-images.githubusercontent.com/23345908/68842340-84d40480-06c6-11ea-8b9f-29399a590ceb.png)

As to the question: I believe it is im

[2019-11-14 17:26] #81 closed

[2019-11-15 07:15] paullo0106 commented on #73
Sample output after the code changes
<img width="1579" alt="Screen Shot 2019-11-14 at 11 12 45 PM" src="https://user-images.githubusercontent.com/4966393/68923933-66a4ed80-0734-11ea-8ddf-c32c06ec6fb1.png">

[2019-11-15 17:38] #73 closed

[2019-11-17 04:38] paullo0106 opened #86 "Enhance tree plot with node colors indicating positive and negative uplifts"
minor enhancement on [tree/plot.py ](https://github.com/uber/causalml/blob/master/causalml/inference/tree/plot.py) so it's intuitive to tell who we should target on

[2019-11-18 18:51] #82 closed

[2019-11-19 06:25] XiaoshuiHuang opened #88 "WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror."
There are several warnings in the example of "meta_learners_with_synthetic_data_multiple_treatment".
The warnings occur when I run the code to "learner_s.estimate_ate(X=X, treatment=treatment, y=y, return_ci=True, bootstrap_ci=True, n_bootstraps=100, bootstrap_size=5000)"

The warning is

WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is no

[2019-11-19 19:27] jeongyoonlee commented on #88
Thanks for your report, @XiaoshuiHuang!

`reg:squarederror` was introduced in XGBoost 0.90. Previous versions don't recognize it and will raise an unknown objective function error.

Since it's just a warning for 0.90+, for now, let's keep it as `reg:linear` for better compatibility.

[2019-11-19 19:27] #88 closed

[2019-11-20 22:17] jeongyoonlee opened #89 "Add DGP with imbalanced propensity distribution"
This issue is to add synthetic data generation processes for the data with imbalanced propensity distribution. It will be useful to validate treatment effect estimations in such case.

[2019-11-21 06:34] paullo0106 commented on #86
Solved with PR #87 merge   😃

[2019-11-21 06:34] #86 closed

[2019-11-22 00:42] #89 closed

[2019-11-25 22:02] swager commented on #70
I came across this thread serendipitously, and just wanted to add a quick comment.

The way the X-learner and the R-learner use the propensity score is very different. The X-learner in fact just uses the propensity score as a weighting function for variance minimization, and so having accurate propensity estimates is not so important.

In contrast, the R-learner relies crucially on the propensity

[2019-11-26 01:37] jeongyoonlee commented on #70
Thanks, @swager for your comment. It means a lot to the team to have kind words from you, the author of the approaches we implemented!

As suggested, we decided to simply the APIs for X and R learners to be consistent with other learners by making the propensity score input optional. If the propensity score is not provided, we will predict it under the hood.

Thanks again!

[2019-11-26 06:19] #71 closed

[2019-11-26 11:08] t-tte commented on #70
That's a great clarification @swager - also discussed in an earlier issue (https://github.com/uber/causalml/issues/52).

It seems like we should consider approaching the propensity score calculation differently in the X- and the R-learner. In particular, since the propensity score plays a less important role in the X-learner, we should consider implementing a very lightweight under-the-hood propen

[2019-11-26 19:00] swager commented on #70
Thanks again to all of you -- it's really cool that your work makes all these methods available to a wide audience!

@t-tte yes the notion of cross-fitting is exactly the same. For a short discussion on connections between the R-learner, what Chernozhukov et al do, and causal forests, Section 1.3 of https://arxiv.org/pdf/1902.07409.pdf may be useful.

p.s. With apologies for being off-topic (and i

[2019-11-27 21:40] ppstacy opened #92 "Allow estimate_ate() for user prediction input"
It's really helpful that we have the function estimate_ate() to return the mean and confidence interval (LB, UB) of the ATE estimate. But currently it will generate the predictions under the hood with fit_prediction() function. It might be confusing if someone didn't look at the code base and use it for a validation data set . Could we consider support for user prediction input as an optional inpu

[2019-11-28 11:03] MaximilianFranz commented on #92
A note on the terminology from my perspective.
I find it useful that one discerns between `estimate_ate()` and `predict_ite()` or (in your case) `predict()`, for the one is an estimation of a value (the ATE) inherent in a sample from a population, while the other is a prediction of a pre-fit model on some data that can also be out-of-sample with respect to the training data. A classic ATE-Estimato

[2019-12-02 19:18] jeongyoonlee commented on #92
Thanks for the comments, @ppstacy and @MaximilianFranz.

I agree @MaximilianFranz's comment: `estimate_ate()` should be different from `predict()` e.g. One of our learners, `TMLELearner` is also not a predictor and has only `estimate_ate()` without `predict()`.

@MaximilianFranz, to answer to your question, I think what @ppstacy meant by "user prediction input" is a feature matrix, `X` for predict

[2019-12-04 11:16] SSepi opened #94 "ValueError running example notebook"
Thanks for the package, great contribution!

I'm trying to run the notebook here: https://github.com/uber/causalml/blob/master/examples/meta_learners_with_synthetic_data.ipynb

Getting the following error:
[code]

Installed the package on 4.12.2019 using pip, running causalml version 0.5.0.

The problem seems to come from scikit.-learn version 0.22.0 which was released on 3.12.2019. If I downgrade

[2019-12-05 01:35] jeongyoonlee commented on #94
Thanks for reporting the issue, @SSepi. As you noted, it's because of the updates in `scikit-learn`'s  Cython code, on which `CausalTreeRegressor` depends on.

There are a couple of ways to address this:
1. Update `CausalTreeRegressor`'s Cython code to be compatible with `scikit-learn>=0.23.0`
2. Fix the `scikit-learn`'s version in `requirements.txt` to 0.22.0
3. Remove the dependency on `sklearn.

[2019-12-05 02:42] paullo0106 commented on #54
Just some ideas on the UpliftTree optimization, we can probably start from [growDecisionTreeFrom()](https://github.com/uber/causalml/blob/master/causalml/inference/tree/models.py#L850) in the _UpliftTreeClassifier_ class:

- **Pre-sort**: sort the dataset in the beginning, and use the sorted vectors at each node evaluation (reference - _presort_ in [sklearn's BaseDecisionTree](https://github.com/s

[2019-12-05 09:35] dandan0503 opened #95 "AttributeError: 'int' object has no attribute 'clear'"
hi,
when i run example,i get the follow error
![image](https://user-images.githubusercontent.com/22792438/70222350-e7c83100-1784-11ea-9e98-dfb3a8ee5018.png)
please give advice or comments，thank you~

[2019-12-05 09:35] dandan0503 commented on #95
In [4]: df_train, df_test = train_test_split(df, test_size=0.2, random_state=111)

In [5]: uplift_model = UpliftRandomForestClassifier(control_name='control')

In [6]: uplift_model.fit(df_train[x_names].values,
   ...:                  treatment=df_train['treatment_group_key'].values,
   ...:                  y=df_train['conversion'].values)

In [7]:

In [7]:

In [7]: y_pred = uplift_model.predict

[2019-12-05 17:43] t-tte commented on #95
Hey @dandan0503 - which version of causalml and scikit-learn are you using?

[2019-12-05 19:54] peterfoley commented on #29
I'm happy to take a stab at this one. Are there strong feelings on how to handle inputs that aren't purely numeric?
My default design would be to have it throw an exception if non-numeric columns exist, basically [the same setup as xgboost uses](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/core.py#L291).

[2019-12-05 21:27] yungmsh commented on #29
Hey @peterfoley thanks for the comment. I'm implementing a simpler helper method that converts anything that's a pd.DataFrame or pd.Series into an np.ndarray. Preserving column names shouldn't be an issue at the scope we're concerned with since we're directly passing these arrays into the base learner under the hood anyway. cc @jeongyoonlee: But in future iterations we might want to store the colu

[2019-12-05 21:29] yungmsh commented on #29
Re: raising exceptions for non-numeric types, I don't think we need to at this point, since the estimators themselves (provided by user) should already be catching that

[2019-12-05 22:20] peterfoley opened #96 "xgboost's `reg:linear` has been deprecated in favor of `reg:squarederror`"
xgboost 0.90 deprecated `reg:linear` in favor of `reg:squarederror`. When you run the package tests with current xgboost, it dumps a huge number of deprecation warnings.

It looks like `reg:linear` is only mentioned by [the XGBRRegressor constructor](https://github.com/uber/causalml/blob/master/causalml/inference/meta/rlearner.py#L526), but it's a part of the existing public interface (["Effect le

[2019-12-05 22:37] yungmsh commented on #29
PR here: https://github.com/uber/causalml/pull/97

[2019-12-05 22:51] peterfoley opened #98 "add development instructions to build cython before testing"
The [Contributing instructions](https://github.com/uber/causalml/blob/master/CONTRIBUTING.md) don't mention that cython needs to be run in order to run the tests.

It worked (for me) to run `python setup.py build_ext --inplace` before the tests.

[2019-12-05 22:54] peterfoley commented on #29
Thanks @yungmsh ! I'd already started on some work too, so I added some thoughts in [a PR comment](https://github.com/uber/causalml/pull/97#issuecomment-562353070)

[2019-12-06 10:23] dandan0503 commented on #95
scikit-learn 0.21.3

[2019-12-06 23:43] paullo0106 commented on #95
Looks like it happened particularly on your `tensorboard pywrap_tensorflow.py` module, I found that there is defensive code in the recent version `(scikit-learn=0.22)` of [sklearn.utils.testing.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/_testing.py#L616) to avoid this:

[code]

[2019-12-08 18:49] kgolyaev opened #100 "Causalml fails to install xgboost even with xgboost present in my conda env"
Installing `causalml` through `pip` fails in my environment with the following error:

[code]

I thought I'd try to install `xgboost` myself, but this did not solve the problem. Here is my system spec:
[code]

And here is the conda environment inside which I am trying to install `causalml`:

[code]

[2019-12-09 11:26] t-tte commented on #95
Thanks for chiming in @paullo0106!

@dandan0503 - does updating to scikit-learn >= 0.22 also resolve your problem? Unfortunately I'm not able to replicate the issue with scikit-learn 0.21.3.

In any case, the current working hypothesis is that the problem is to do with the ignore_warnings function, which we may be able to do away with entirely. cc @zhenyuz0500

[2019-12-10 01:34] peterfoley commented on #96
I dug in a bit, and it looks like the majority of these warnings are actually within xgboost itself -- the current release has some defaults still set to `"reg:linear"` despite it being deprecated: https://github.com/dmlc/xgboost/blob/release_0.90/python-package/xgboost/sklearn.py

That means that even lines like `learner = BaseSRegressor(learner=XGBRegressor())` that don't explictly specify `reg:

[2019-12-10 17:13] t-tte opened #101 "Add an assert to check that the control group exists"
The S-Learner will run even if the default control group name ('0') is not in the treatment array, leading to seemingly paradoxical results in which eg units in the control group are predicted to have a negative treatment effect under the control condition. The other learners may have this same problem too.

To prevent the above behaviour, we should add an assert to catch situations in which the d

[2019-12-10 21:00] peterfoley commented on #100
That error message sounds like a common xgboost installation issue rather than something specific to causalml. The threads for [this issue](https://github.com/dmlc/xgboost/issues/4845) and [this one](https://github.com/dmlc/xgboost/issues/4477) list some solutions that might work for you.

To confirm that your xgboost install didn't package `libxgboost.dylib` properly, run
[code]
and you'll get th

[2019-12-10 21:18] peterfoley commented on #101
[The R-Learner](https://github.com/uber/causalml/blob/e235f1b4385290c5e28de6d1170148fa69ba5bfe/causalml/inference/meta/rlearner.py#L81) and a few other places use [`causalml.inference.meta.check_control_in_treatment`](https://github.com/uber/causalml/blob/e235f1b4385290c5e28de6d1170148fa69ba5bfe/causalml/inference/meta/utils.py#L4) for validation.

It doesn't seem like `check_control_in_treatment`

[2019-12-11 13:38] t-tte commented on #101
Good point about the check_control_in_treatment function, @peterfoley! It'd be great if you could take a stab at generalizing it. I also agree that it would make sense to check that the treatment array has non-control cases.

[2019-12-12 20:25] peterfoley commented on #83
@jeongyoonlee I'd be interested in helping out with this one. Do you already have tests/notebooks/gists that show the discrepancy?

[2019-12-13 12:01] #101 closed

[2019-12-13 15:41] TomaszZamacinski commented on #83
@jeongyoonlee I think that it is due to the issue with the impurity computation. I have made the following pull request that fixes it: https://github.com/uber/causalml/pull/105

[2019-12-13 22:41] #98 closed

[2019-12-13 22:43] #92 closed

[2019-12-13 22:52] jeongyoonlee commented on #83
Here is a [gist](https://gist.github.com/jeongyoonlee/a311a847d9298802a56577a3f830beee) to test `CausalTreeRegressor` with synthetic data. It currently shows a reasonable uplift curve for the first synthetic data, but weird results for other synthetic data.

[2019-12-13 23:24] jeongyoonlee commented on #83
Thanks for fixing the bug @TomaszZamacinski. After the fix, it now generates correct results for the 2nd and 4th and okay result for the 1st.

Thanks for your contribution!

[2019-12-13 23:36] #83 closed

[2019-12-14 20:27] kgolyaev commented on #100
Thank you for the pointers. Unfortunately the problem persists even when `xgboost` is already present in the conda environment into which I attempt to install `causalml`. The command you suggested, `python -c 'import xgboost'` runs successfully with no issues, yet the above error message persists.
I realize the problem is not in the `causalml` installation per se and rather in its dependency on `x

[2019-12-16 18:49] peterfoley opened #106 "Remove the need for big_number in causaltree.pyx"
Creating an issue to organize discussion that started in #105 (@jeongyoonlee, @TomaszZamacinski).

Summary of the issue is that sklearn's `DecisionTreeRegressor.fit()` raises` ValueError` if `min_impurity_split<0` and the `TreeBuilder`'s stop if `impurity<min_impurity_split`. Causal tree impurities can be negative, so sklearn's restriction doesn't help and the current workaround adds a large const

[2019-12-16 19:09] peterfoley commented on #106
It seems like we could dodge the checks by bypassing `DecisionTreeRegressor` and calling `DepthFirstTreeBuilder`, `BestSplitter` and `Tree` directly, roughly like this:

[code]
where most of the current `DecisionTreeRegressor` arguments are instead passed directly to `DepthFirstTreeBuilder`'s constructor or `build` method.

It's sort of reimplementing a fair bit of `DecisionTreeRegressor`/`BaseDec

[2019-12-16 20:14] peterfoley commented on #94
It looks like the [Travis tests already switched to 0.22](https://travis-ci.com/uber/causalml/jobs/267093625#L196) when it was released, and they're still passing, so this seems like a packaging or install order issue.

[2019-12-16 20:54] peterfoley commented on #94
It seems to be packaging-related. I was able to recreate the error in a fresh env:
[code]

and was able to resolve it by pip-installing directly from github with either the current master or 0.5.0 branch:
[code]

[2019-12-17 19:38] #96 closed

[2019-12-17 20:00] t-tte opened #107 "Add check to ensure that propensity scores are not ones and zeros only"
If you pass a propensity score that contains only ones and zeros, the X-learner fails with the following ambiguous error:

[code]

It may be useful to add a check that the propensity score contains more than two unique values. In particular, this prevents the user from mistakenly passing binary labels as the propensity score.

[2019-12-20 12:34] t-tte opened #109 "Verify model performance based on benchmark data"
As discussed on issue #70, it would be valuable to replicate the benchmark tests from the foundational research papers. For the meta-learners, we have the papers by [Nie and Wager (2019)]((https://arxiv.org/abs/1712.04912)) and [Kunzel et al (2019)]() that contain such benchmark studies.

The simulation studies are:

	•	Simulation setups A, B, C and D (Nie and Wager, p. 16)
	•	Simulations 1—6 (Kun

[2019-12-21 17:28] jeongyoonlee commented on #54
I started to work on it and made some improvement with #108. Will look into what @paullo0106 suggested. Thanks!

[2019-12-21 18:19] t-tte commented on #107
Addressed in PR #110

[2019-12-21 18:19] #107 closed

[2019-12-23 18:08] jeongyoonlee opened #111 "ImportError for check_control_in_treatment"
After #97 was merged to master, tests are failing with `ImportError` for `check_control_in_treatment` due to merge conflict as follows:
[code]

[2019-12-23 18:34] #111 closed

[2019-12-23 19:31] jeongyoonlee commented on #29
Merged into master with #97

[2019-12-23 19:31] #29 closed

[2019-12-23 19:37] jeongyoonlee commented on #106
Thanks @peterfoley!

I like your suggestion. I think that logically `CausalTreeRegressor` is at the same level as `DecisionTreeRegressor` and it makes sense to use lower level APIs. It will allow us to further customize `CausalTreeRegressor` - like using separate data sets for tree construction and inference as proposed in the original Causal Tree paper.

@peterfoley, could you take a stab at it?

[2019-12-28 15:17] DSXiangLi opened #114 "the uplift random forest is based on which paper?"

[2019-12-30 13:48] jeongyoonlee commented on #114
`UpliftRandomForestClassifier` is based on [Ensemble methods for uplift modeling by Sołtys (2015)](https://link.springer.com/article/10.1007/s10618-014-0383-9) and its base learner, `UpliftTreeClassifier` is based on Decision trees for uplift modeling with single and multiple treatments by [Rzepakowski and Jaroszewicz (2012)](https://link.springer.com/article/10.1007/s10115-011-0434-0).

More refe

[2019-12-30 18:45] #114 closed

[2019-12-31 17:15] peterfoley commented on #106
@jeongyoonlee I'll start on a PR this week -- just got back from holiday travels.

[2020-01-01 01:23] jeongyoonlee commented on #100
Good to hear from you, Konstantin!

Did you install XGBoost from source? I noticed that when there's an existing XGBoost installation done without `pip`, `pip install xgboost` raises an error. However, if your `python -c 'import xgboost'` runs fine, you should be able to run `causalml`. The issue here seems like an issue with XGBoost installation itself. I'd recommend removing and reinstalling XGB

[2020-01-02 22:33] #106 closed

[2020-01-04 10:21] MaximilianFranz commented on #109
Hey @t-tte, I've started working on the mentioned comparison using our [JustCause framework](https://github.com/inovex/justcause) and wanted to highlight a few ideas/notes/problems.

1. I've started using `rpy2` in order to use the original rlearner implementation directly from Python.  However, as I am not familiar with the method in detail, it is hard to know, how to use the RLearner from causal

[2020-01-06 18:18] ppstacy opened #119 "Uplift Curves when random is negative with normalization"
When generating the uplift curve plots (gain, lift and gini) if normalized by the random which is negative, the shape of other plots will be flipped.

For example here with normalization:
![Image Pasted at 2019-12-6 14-57](https://user-images.githubusercontent.com/19823328/71838467-bbe2e880-306d-11ea-8cd6-ca6fbddf4033.png)

without normalization:
![Image Pasted at 2019-12-6 14-58](https://user-ima

[2020-01-06 19:40] ppstacy opened #120 "Add CEVAE synthetic data generation process"
As a start of  the migration/add a wrapper of  `CEVAE` under `CausalML`, we can add the synthetic data generation process in CEVAE paper. (Causal Effect Inference with Deep Latent-Variable Models,  http://papers.nips.cc/paper/7223-causal-effect-inference-with-deep-latent-variable-models.pdf)

I noticed that we already have the implementation code under [pyro repo](https://github.com/pyro-ppl/pyro/

[2020-01-06 21:28] jeongyoonlee commented on #119
@ppstacy could you provide a test case with sample data to reproduce the bug?

[2020-01-07 18:42] ppstacy commented on #119
[code]
Here is the snip of the test case which not the exactly what we did in the project, but it can show that with and without normalization the sign of the plots changed which should be consistent.

Without normalization:
![image](https://user-images.githubusercontent.com/19823328/71919750-43962900-313a-11ea-899e-f862575f43c3.png)

With normalization:
![image](https://user-images.githubusercont

[2020-01-08 19:10] t-tte commented on #109
Hi @MaximilianFranz

Thanks for the note! Great to hear you've started working on this, and that you've implemented some of the simulations in [JustCause](https://github.com/inovex/justcause). I'll have a closer look and will keep you updated.

As to the differences between the methods, that's indeed a tricky one. My first two hypotheses would be:

- The base-learners or some of their parameters a

[2020-01-09 20:05] yluogit opened #122 "Replace ELI5 permutation importance with sklearn's"
**Is your feature request related to a problem? Please describe.**
Sklearn released `sklearn.inspection.permutation_importance` in version 0.22. If we use it instead of ELI5 we can remove a dependency

**Describe the solution you'd like**
Implement sklearn's permutation importance in `explainer.py`

**Describe alternatives you've considered**
A clear and concise description of any alternative solu

[2020-01-10 21:52] #122 closed

[2020-01-11 00:44] #70 closed

[2020-01-13 13:10] t-tte opened #124 "growDecisionTreeFrom indexes rows rather than columns"
**Describe the bug**
In certain situations, UpliftRandomForestClassifier's growDecisionTreeFrom method indexes rows rather than columns, resulting in an indexing error.

**To Reproduce**
Fit UpliftRandomForestClassifier on [ACIC high-dimensional dataset](https://sites.google.com/view/ACIC2019DataChallenge/data-challenge).

**Expected behavior**
growDecisionTreeFrom method indexes columns rather th

[2020-01-13 20:56] yungmsh opened #127 "Propensity model uses ElasticNetCV (a regression implementation)"
Propensity model uses ElasticNetCV under the hood, which is a regression implementation. We should change this to a classification implementation.

[2020-01-13 20:56] yungmsh commented on #127
PR created here: https://github.com/uber/causalml/pull/126

[2020-01-14 08:53] MaximilianFranz commented on #109
Hey again,

The notebook is on a separate branch [here](https://github.com/inovex/justcause/blob/rlearner-comparison/notebooks/rlearner-comparison.ipynb), since we're still changing stuff within the JustCause API. I haven't looked at it in detail yet, but will return to it once we've finished our fully documented version.

[2020-01-14 13:07] #124 closed

[2020-01-15 17:31] #127 closed

[2020-01-15 23:30] steveyang90 opened #130 "Pull Requests from forked repositories failing build"
**Describe the bug**
[TravisCI's pull request security settings](https://docs.travis-ci.com/user/pull-requests/#pull-requests-and-security-restrictions) prevents access to encrypted variables such as `FOSSA_API_KEY` when running the build jobs. Thus, any PRs made by forked repositories results in an error in the `fossa` stage.

**To Reproduce**
TravisCI shows build fail for PRs coming from forked

[2020-01-15 23:34] #130 closed

[2020-01-17 20:11] #119 closed

[2020-01-17 23:35] zhiruiwang commented on #37
@jeongyoonlee @yungmsh Thanks for all the effort to add feature importance and SHAP for meta learners, and tree visualization for uplift tree models! I wonder is there any plan to add feature importance and SHAP to `UpliftTreeClassifier` and `UpliftRandomForestClassifier`? That would be a strong add to the model explanation in addition to tree visualization.

[2020-01-23 06:43] aftnix commented on #40
Any update on this?

[2020-01-23 15:44] t-tte commented on #40
Yes, I'm aiming for the next release, ie within a week or so. Follow the issue for updates.

[2020-02-02 12:51] tianhong opened #132 "discrete covariate split when use UpliftTreeClassifier"
Thanks for the package, great contribution!

**Is your feature request related to a problem? Please describe.**
 I hava many covariates like age,gender,osid ,When I use UpliftTreeClassifier, i must use one-hot encoder just like pandas.get_dummies.
When the model fit finished , it just use one level in a covariate.
`   X_names = ['age', 'gender', 'wnettype','absolute_rank',]
    for x in X_names:

[2020-02-07 18:57] fritzo commented on #120
@ppstacy the code is very simple:

<details>

[code]

</details>

I think I'll need help understanding the requirements of causalml/datasets/*.py. Would anyone on the team be available to pair code this?

[2020-02-13 08:00] ppstacy opened #135 "X Learner not passing propensity score when call fit_predict()"
Line 242 **(https://github.com/uber/causalml/blob/master/causalml/inference/meta/xlearner.py#L242)** should pass the propensity score in fit() function if provided.

[2020-02-13 15:35] MelanieU opened #136 "AttributeError: 'UpliftTreeClassifier' object has no attribute 'treatment_group'"
**Describe the bug**
I'm testing the UpliftTreeClassifier with the dataset generated by dataset.classification and I get the following error when running:
[code]
[code]

[2020-02-13 19:32] peterfoley commented on #100
Has anyone been able to reproduce this from a totally fresh environment without conda caching or package reuse involved? The [code](https://github.com/uber/causalml/pull/134#issue-374600184) @fritzo mentioned in #134 doesn't break [when I test it in Docker](https://gist.github.com/peterfoley/bd3bd05f8e49843bea87bb48bc57c6ff), which makes me think that issues may be related to the conda package cac

[2020-02-13 19:44] peterfoley commented on #136
The usual way to fit `UpliftTreeClassifier` would be to use the higher-level `fit()` method, which populates the model's `treatment_group` attribute before calling `growDecisionTreeFrom`.  Look at cell `In [4]:` in [the uplift tree visualization notebook](https://github.com/uber/causalml/blob/master/examples/uplift_tree_visualization.ipynb) for an example.

If you want to mess with lower-level int

[2020-02-13 20:42] peterfoley commented on #132
CausalML uses the tree builder from sklearn, which is why it has the same numeric-columns-only limitations as sklearn's models like DecisionTreeClassifier. Dealing with categorial data in tree models is a big topic and aside from LightGBM, most tools don't allow for categorical variables, so people generally use [some other encoding scheme](https://towardsdatascience.com/know-about-categorical-enc

[2020-02-14 12:53] tianhong commented on #132
Thank you very much！I will use Label Encoding!

Thanks for the package, great contribution!

[2020-02-14 12:53] #132 closed

[2020-02-14 21:13] MelanieU opened #138 "GitHub version differs from PyPI version"
I'm getting an error when pip installing causalml. However, in GitHub the code is edited which wouldn't throw me an error.
PyPI:
[code]
GitHub:
[code]

[2020-02-18 20:36] #120 closed

[2020-02-18 20:59] jeongyoonlee commented on #138
The fix will be released in 0.8.0 by the end of this month.

[2020-02-19 11:24] ppstacy opened #140 "Add TMLE-based validation to plotting (AUUC/Qini/lift)"

[2020-02-19 21:42] #135 closed

[2020-02-20 01:44] DSXiangLi opened #142 "Merge causal tree and uplift model into one class"
After reading several paper about causal tree and uplift model, I found these two model quite similar. The difference is merely that causal tree use loss function for continuous treatment effect, while uplift model is used for discrete treatment effect. The core difference lies in how to calculate the distance between distribution。

I am not sure whether I understand it correctly? If so, is it pos

[2020-02-28 05:12] shaddyab opened #143 "Enable continuous target"
Are there any plans to add support for continuous target (sale, revenue, etc.)
Will this also include Qini index calculation?

[2020-02-28 05:13] jeongyoonlee opened #144 "Test failures for some meta learners"
**Describe the bug**
Currently tests for `BaseSClassifier`, `BaseRLearner` and `BaseRRegressor` are failing [Travis Log](https://travis-ci.com/uber/causalml/jobs/291765108)

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Pass 22 tests.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following informa

[2020-02-28 23:19] #144 closed

[2020-03-04 02:52] jeongyoonlee commented on #22
@zhenyuz0500 published the white paper at arXiv: [CausalML: Python Package for Causal Machine Learning](https://arxiv.org/abs/2002.11631)

[2020-03-04 02:52] #22 closed

[2020-03-04 02:55] jeongyoonlee commented on #138
0.7.0 release on 2/28/2020 resolves this issue.

[2020-03-04 02:55] #138 closed

[2020-03-05 16:06] ngdelamo opened #148 "ModuleNotFoundError: No module named 'causalml.inference.tree.causaltree'"
Hi!

I'm trying to run this example notebook:
https://github.com/uber/causalml/blob/master/examples/meta_learners_with_synthetic_data.ipynb

However, when I run the import statements in the 3rd cell, I get the following error:

[code]

I installed causalml via `pip`, version `0.7.0`.

Thanks in advance!

[2020-03-05 17:41] jeongyoonlee commented on #148
Hi @ngdelamo, could you share more info such as OS, Python version, environment (system vs. virtualenv vs. conda), etc.?

FYI, I just tried the pip installation on new conda environments with Python 3.6 and 3.7, and it went through on both environments.

[2020-03-05 17:51] jeongyoonlee commented on #143
Hi @shaddyab, thanks for your question.

Currently, all meta-learners and the new NN learner under `inference.meta` and `inference.nn` suuport continuous outcomes, while `UpliftRandomForest` in `inference.tree` supports only binary outcomes.

Qini index calculation (`metrics.get_qini()` is independent from inference methods and available regardless outcome types.

[2020-03-06 10:50] ngdelamo commented on #148
Hi @jeongyoonlee, thanks for the quick answer.

I'm currently using Windows 10, and the setup is a virtualenv created with `conda` on python 3.7, but the rest of the packages were installed using `pip`.

Although, now that I mention it, I remember that when I installed `causalml` through pip, it showed an error saying that I had to install _"Visual Studio buildtools"_, and stopped. I installed the

[2020-03-06 14:27] clfeutry opened #149 "Example in Synthetic Data Generation Process"
When I try to execute the code given in the examples section for the synthetic data generation process. The importation of `causalml.metrics.synthetic` failed : `ModuleNotFoundError: No module named 'causalml.metrics.synthetic'`
After some research the function synthetic_data that I wished to use was in causalml.dataset

[2020-03-06 16:02] ngdelamo commented on #148
Hi @jeongyoonlee.

I have finally managed to make it work. After digging a bit about Cython (I've never used it before) the problem seemed to be that the Cython module wasn't being compiled upon installation. In order to solve it, I cloned the `causalml` Github's repo and build the Cython modules from source via:

[code]

After that, the notebooks work properly. Maybe it's an installation problem

[2020-03-06 21:00] jeongyoonlee commented on #148
Thanks for sharing the details, @ngdelamo. According to [this article](https://www.scivision.dev/python-windows-visual-c-14-required/), it seems that the VS buildtools is required to install a Python package that uses Cython on Windows.

We will update the installation instruction with this information.

Thanks!

[2020-03-06 23:11] ppstacy commented on #149
Hi @clfeutry, thanks for finding this! Could you please point us which example notebooks you were looking at? Because I checked the [meta_learners_with_synthetic_data.ipynb](https://github.com/uber/causalml/blob/master/examples/meta_learners_with_synthetic_data.ipynb) and [meta_learners_with_synthetic_data_multiple_treatment.ipynb](https://github.com/uber/causalml/blob/master/examples/meta_learner

[2020-03-07 21:42] paullo0106 commented on #149
clfeutry was probably referring to [example.rst](https://github.com/uber/causalml/blob/master/docs/examples.rst#single-simulation). In `Single Simulation` and `Multiple Simulations` sections, looks like there is no `synthetic.py` in `causalml.metrics` anymore, I'll submit a PR to update the docs : )

[code]

[2020-03-09 09:41] clfeutry commented on #149
Yes I was exactly referring to example.rst, Thank you @paullo0106. Sorry for the delay in my response and the lack of precision in my first message @ppstacy

[2020-03-09 09:41] #149 closed

[2020-03-09 10:00] ngdelamo commented on #148
Thanks for investigating this issue, @jeongyoonlee !

Just for clarification: I indeed saw a message during installation that stated that "VS build tools was required". The problem is that I installed them and the Cython modules were still not compiled. I had to clone the repository and compile the Cython modules myself from the source code using `python setup.py build_ext --inplace` in order to m

[2020-03-09 21:49] ppstacy opened #152 "Example notebook link on pypi page not working"
On the causalml pypi page - https://pypi.org/project/causalml/, example notebook links seem to be broken - Meta-learner example notebook (https://pypi.org/project/causalml/examples/meta_learners_with_synthetic_data.ipynb) and  Uplift Tree visualization example notebook (https://pypi.org/project/causalml/examples/uplift_tree_visualization.ipynb).

[2020-03-11 04:39] kenrick-goh opened #153 "NearestNeighborMatch (match_by_group) does not give a 1 to 1 Matching"
When I am running this code, the match results throws out the dataframe for treatment and control group data

The control number is larger than the treatment numbers.

I would understand if the control numbers is smaller than the treatment as some of the treatment data may not be match. However, it is reversed and I am stumped.

[2020-03-13 12:06] MaximilianFranz opened #154 "Wrong requirements when installing causalml via pip"
**Describe the bug**
When installing via pip this error occurs

[code]

**To Reproduce**
Steps to reproduce the behavior:

 - Setup new conda environment with python (Python 3.8.1) and pip (pip 20.0.2)
 - `pip install causalml`

**Expected behavior**
Working installation via pip

**Environment (please complete the following information):**
 - OS: Ubuntu

[2020-03-13 18:13] #152 closed

[2020-03-13 18:41] jeongyoonlee commented on #154
Thanks for the report, @MaximilianFranz.

This is because `tensorflow`, which is required for `inference.nn.DragonNet`, does not support Python 3.8 yet (ref: [Tensorflow website](https://www.tensorflow.org/install)).

For now, I think that we just need to wait until `tensorflow` add Python 3.8 support.

[2020-03-13 18:46] jeongyoonlee commented on #94
This issue seems to be resolved. `pip` installation goes through with the same setting @peterfoley used above.

[2020-03-13 18:46] #94 closed

[2020-03-17 21:10] steveyang90 opened #156 "Model fails to converge if no propensity scores are provided for X and R Learners"
**Describe the bug**
If propensity score is not provided for X and R Learners, the fit method hangs with the output `The max_iter was reached which means the coef_ did not converge` repeatedly.

**To Reproduce**
[code]

**Expected behavior**
I expect the model to converge and continue on to the next step

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (

[2020-03-17 21:37] ppstacy commented on #156
Hi @steveyang90, thanks for putting together this!! We are using `LogisticRegressionCV` under the hood for calculating the propensity score if input is missing. I did a quick search and saw people had similar issues when the solver didn't converge within the default iteration which is 100 used in our function. Is that possible for you to provide a sample data that produces this error? This way I c

[2020-03-20 19:51] yungmsh commented on #153
Hey @kendrick-goh, what version of causalml were you using? Also, would you be able to share the dataset you are using? Feel free to anonymize the data if there is sensitive information.

[2020-03-21 02:22] yungmsh commented on #156
@steveyang90 I'm using the most updated version of causalml (0.7.0), have the same versions of package dependencies as the ones you listed, and when I used a sample (non-synthetic) dataset, I didn't get the same error. Let's take this offline but it might be the dataset you're using (e.g. if it's experimental - i.e. AUC of propensity model close to 0.5) that's causing the convergence error.

[2020-03-25 15:45] clfeutry opened #158 "GridSearch and score"
Are you going to implement a GridSearch method ?
I've tried to implement a Gridsearch method over the parameters for the UpliftRandomForestClassifier. What score would you recommand me using ?

[2020-04-01 03:42] ZSCDumin opened #159 "Do you implement the CTS algorithm for multiple treatment in this project？"
Do you implement the CTS algorithm for multiple treatment in this project？

[2020-04-12 04:08] deeplaunch commented on #100
Same issue for me after I create a conda environment (I do have several existing conda enviroment), which was resolved by running "conda install xgboost" first and installing from requirements.txt removing "xgboost" line.

[2020-04-12 04:21] deeplaunch commented on #100
I'm encountering the same issue during installation, and this is from a newly created conda environment.

[2020-04-13 06:50] ZSCDumin opened #160 "Do you implement the spark version of the causalml?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-14 18:57] jeongyoonlee opened #161 "Example notebooks don't use system installed causalml"
**Describe the bug**
Some example notebooks use `causalml` from the source instead of the one installed in the system.

To import `causalml` successfully from the source without installation, a user needs an additional step to build `Cython` objects with `python setup.py --build_ext --inplace`.

**To Reproduce**
Run `meta_learners_with_synthetic_data_multiple_treatment.ipynb`, `meta_learners_with_

[2020-04-14 18:59] jeongyoonlee opened #162 "feature_interpretations_example notebook uses old APIs for X and R learners"
**Describe the bug**
`feature_interpretations_example` notebook uses old APIs for X and R learners and raises errors.

**To Reproduce**
Run `feature_interpretations_example.ipynb` with latest `causalml`.

**Expected behavior**
The notebook completes without an error.

**Screenshots**

**Environment (please complete the following information):**
 - OS: macOS
 - Python Version: 3.6
 - Versions of Ma

[2020-04-14 21:30] jeongyoonlee commented on #159
Yes. `UpliftRF` with CTS supports multiple treatments.

[2020-04-14 21:30] #159 closed

[2020-04-14 22:08] #162 closed

[2020-04-14 22:08] #161 closed

[2020-04-14 22:12] jeongyoonlee commented on #148
@ngdelamo, this issue has been fixed with #161. It was because the notebook imported `causalml` from the source code directory even when `causalml` has been installed in the system. However, importing from the source code directory requires compiled `Cython` objects - as you noted, with `python setup.py build_ext --inplace`.

This fix made the notebook import `causalml` installed in the system ins

[2020-04-14 22:12] #148 closed

[2020-04-14 22:12] #143 closed

[2020-04-14 22:13] #136 closed

[2020-04-14 22:15] jeongyoonlee commented on #95
Let's close this for now because @t-tte couldn't replicate the issue with latest `scikit-learn>=0.22`, which is required.

[2020-04-14 22:15] #95 closed

[2020-04-15 07:50] ZSCDumin opened #164 "Error"
![image](https://user-images.githubusercontent.com/19670365/79311793-86814d00-7f30-11ea-828f-8ab2e3032a42.png)

[code]

Occur error when using BaseRRegressor, how to handle this problem?

[2020-04-17 11:23] clfeutry opened #167 "Issue with kl_divergence function in UpliftTreeClassifier in inference\tree\models.py"
It occurs to me that the following definition of the kl divergence can return NAN:
`def kl_divergence(pk, qk):
        '''
        Calculate KL Divergence for binary classification.

        sum(np.array(pk) * np.log(np.array(pk) / np.array(qk)))

        Args
        ----
        pk : float
            The probability of 1 in one distribution.
        qk : float
            The probability of 1 i

[2020-04-24 08:43] jroessler opened #168 "Use Case: Churn Prevention Campaigns"
**Is your feature request related to a problem? Please describe.**
In your Docs you are mentioning Campaign Targeting Optimization and Personalized Engagement as typical use cases. But what about Churn Prevention Campaigns where the goal is to use the treatment/treatments to reduce customer churn? I'm working with a dataset where the dependent variable is whether a customer canceled the contract (

[2020-04-28 23:44] ThatShelbs commented on #164
Having the same issue. Can run the other Base Regressors just fine but when I run BaseRRegressor I get the same error.

[2020-04-29 00:59] ppstacy commented on #164
Hi @ZSCDumin and @ThatShelbs, Thanks for reporting this!

Do you mind provide the full logs for this error? It's a bit difficult now to find out where cause this issue. From the code it didn't provide the propensity score input, so R Learner will automatically run a propensity model to generate the propensity scores.  It looks like this error coming from here.

Could you provide the data which can

[2020-04-29 17:21] ThatShelbs commented on #164
[https://github.com/ThatShelbs/causalml_baserlearner_issue](Files can now be found here)

The notebook of interest is basic_causalml.ipynb. Included the notebook that generates synthetic data just in case it is needed.

[2020-05-02 04:40] jeongyoonlee commented on #167
Thanks, @clfeutry for submitting the issue. It is fixed in PR #169. Looking forward to your contribution. :)

[2020-05-02 06:53] jeongyoonlee commented on #164
Thanks, @ThatShelbs for sharing the notebook. The issue has been fixed in PR #170 and working notebook is available in [gist](https://gist.github.com/jeongyoonlee/402f7fd95aa461793579d2d9a8f42f9b). A new version with the fix will be published to PyPI in a few days.

[2020-05-03 17:06] ThatShelbs opened #171 "Transformed Variable Outcome Methodology Clarification in Documentation"
**Is your feature request related to a problem? Please describe.**

Exhausted all cited research, documentation, and also tried inspecting the code yet I am still struggling to understand if causalML meta-learners (S,X,T,R) use transformed outcome methods in-order to decompose to regression problems. The [Pylift meta-learner explicitly calls this step out in documentation](https://tech.wayfair.com

[2020-05-03 17:12] #164 closed

[2020-05-06 10:32] clfeutry commented on #167
You're welcome. I'm glad to contribute :)

[2020-05-06 10:32] #167 closed

[2020-05-07 00:18] #140 closed

[2020-05-12 07:32] JesseKolb opened #173 "Allow exposure of training evaluation results for xgboost models"
## Overview
After calling `fit_predict` on a `BaseSRegressor` with the learner set to `xgboost.XGBRegressor()`, a `models` attribute containing a dictionary of models is created.  For a given model I would like to understand the model evaluation metrics during training.

The [`evals_result` method ](https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBRegressor.evals_result)

[2020-05-16 08:27] kashi1mochi opened #174 "What is w_multi in REAME?"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: [e.g. macOS, Windows, Ubuntu]
 - Python Version: [e.g. 3.6, 3.7]
 - Versions of Major Dependen

[2020-05-16 08:31] kashi1mochi opened #175 "What is w_multi in README?"
**Describe the bug**
There is no information about `w_multi` in https://github.com/uber/causalml#interpretable-causal-ml. What is the variable?

The error massage is as below;
[code]

[2020-05-17 03:01] #174 closed

[2020-05-17 19:14] paullo0106 commented on #175
To my understanding, the mentioned parameter for [estimate_ate()](https://causalml.readthedocs.io/en/latest/causalml.html?highlight=BaseSRegressor#causalml.inference.meta.BaseRLearner) is basically a treatment vector where a complete example is listed in [feature interpretations example notebook](https://github.com/uber/causalml/blob/master/examples/feature_interpretations_example.ipynb). We can p

[2020-05-19 15:41] bukosabino opened #176 "`UpliftTreeClassifier` docstring and input default parameters don't match."
Hi Uber,

Congratulations on your work with this awesome library.

I was checking the `UpliftTreeClassifier` input default parameters, and some of them don't match (code/docstring):

[code]

https://github.com/uber/causalml/blob/ff9607b41af5944418d504bd14ccdb9cc5b69e37/causalml/inference/tree/models.py#L138

Please, update code or docstrings.

Best,
Dario

[2020-05-26 14:50] Jami1141 opened #177 "Some fundamental questions about CausalML"
I have some questions about your package.

I plan to use your code to calculate CATE for each individual but when I have multiple categorical Treatments (0,1,2).
When I read your documentations. I got confused how to use it and which method to use.
Before using your package I was using CAusallift package to calculate CATE for each individual. But Causallift uses binary treatment and it does not su

[2020-05-26 20:23] yungmsh commented on #177
Hi @Jami1141 thanks for your question. Our initial implementation of the multiple treatment case actually implements binary treatment analysis under the hood, looped through every treatment group. The API allows you to provide a vector of treatment assignments, and the name of the control group. For example, if you have a vector of treatment assignments `treatment` that looks something like this:

[2020-05-26 20:44] Jami1141 commented on #177
Many thanks for your reply. My output is binary, therefore my problem is classification and not regression. Then how should I implement it instead of learner_s = BaseSRegressor(XGBRegressor(), control_name='control')?
I want to use XGBoost classifier and also using metrics like roc_auc, which is used for case of classification. How can I do t?
The next question is that suppose I obtain CATE for ea

[2020-05-26 20:49] yungmsh commented on #177
Assuming your `y` is a vector of 1s and 0s, try this:
[code]
where X_new is your new data you want to predict CATE for.

[2020-05-26 20:54] Jami1141 commented on #177
many thanks for your reply. Then does it work the same way for other learners?
Should I try for all learners (R,X,T,..) to compare my models or depending on my problem I should choose one?
How can we evaluate cate that we obtain is good? I mean suppose we find cate for our trained data, then how we can show that our cate is good enough to use the model for later prediction?

[2020-05-26 20:57] yungmsh commented on #177
Yeah, a typical procedure would be to run all the the learners against each other. For more on evaluation/validation, check out "Part B: Validating Meta-Learner Accuracy" in this [notebook](https://github.com/uber/causalml/blob/master/examples/meta_learners_with_synthetic_data.ipynb).

[2020-05-26 20:59] Jami1141 commented on #177
Thanks for your reply.
I have following questions as well:
How can we evaluate cate that we obtain is good? I mean suppose we find cate for our trained data, then how we can show that our cate is good enough to use the model for later prediction?

My next question is that, is there a way to show which treatment is the best?

[2020-05-27 11:55] Jami1141 commented on #177
Another question is that: When I use following code:

X = data3.drop(['Treatment','Outcome'],axis=1)
y = data3['Outcome']
treatment = data3['Treatment']
learner = BaseSClassifier(XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_w

[2020-05-27 12:31] Jami1141 opened #178 "Fail to predict cate"
I have an error running my multiple treatment classification problem:
If I use following code, I have cate results:
1)
learner = BaseSClassifier(XGBClassifier(), control_name='control')
learner.fit(X=X, treatment=treatment, y=y)
cate = learner.predict(X=X, treatment=treatment, y=y)

2)
But If I do following:
learner = BaseSClassifier(XGBClassifier(), control_name='control')
cate = learner.fit_pred

[2020-05-28 16:54] Jami1141 opened #179 "Using UpliftRandomForestClassifier"
I am trying UpliftRandomForestClassifier to obtain CATE for multi treatment cases and binary outcome.
I see that for UpliftRandomForestClassifier you already have some examples. If I use binary treatment using UpliftRandomForestClassifier, then can I just keep control as 0 treatment and treatment_a to 1?
Then how control is treated? It is seen as a treatment?
I am asking this question to know If I

[2020-05-28 18:42] Jami1141 opened #180 "BaseXClassifier and BaseRClassifier failes"
I have a dataframe including some features, a multiple treatment (0,1,2) and a binary outcome (0,1).
When I try:
 learner = BaseSClassifier(XGBClassifier(), control_name='control')
learner.fit(X=X, treatment=treatment, y=y)
cate = learner.predict(X=X, treatment=treatment, y=y)

And,

 learner = BaseTClassifier(XGBClassifier(), control_name='control')
learner.fit(X=X, treatment=treatment, y=y)
cate

[2020-05-29 15:13] Jami1141 opened #182 "Estimating CATE for test and train data"
I have a question regarding CARE estimation.
I am using following code to estimate CATE. Is it true to estimate CATE for train and test data as I did:
<img width="608" alt="qu3" src="https://user-images.githubusercontent.com/62301816/83275543-90ed6280-a1cf-11ea-8fc9-db088dbc3c67.png">
I do it like this to be able to evaluate CATE estimations as you did as following:
<img width="692" alt="qu4" src=

[2020-06-02 20:43] Jami1141 opened #185 "How UpliftRandomForestClassifier deals with imbalanced outcome?"
I want to use UpliftRandomForestClassifier for my problem.
My data is highly imbalanced.
How do you deal with imbalancment? In RandomForest model we have a parameter called: class_weight. With this parameter we can control imbalancement for example using: Class_weigh ='balanced'.
But apparently, in Uplift model this is not the case.

Please first explain how UpliftRandomForestClassifier estimate C

[2020-06-05 07:41] jroessler opened #186 "Index out of Bound in growDecisionTreeFrom"
**Describe the bug**
I'm getting an **index out of bound exception** in _models.py_ in the _growDecisionTreeFrom_ method in the following loop:

[code]

**To Reproduce**
Steps to reproduce the behavior:

The shape of X in my case is: [26,42]. Thus, the current X has 26 samples and 42 columns/features. The `col` value in the loop can be between 0 and 42 due to the np.random.choice method with `rang

[2020-06-05 22:48] jeongyoonlee opened #187 "IIA integration: IV Estimator"
Migrate IIA's IV estimator into CausalML

[2020-06-05 22:50] jeongyoonlee opened #188 "IIA integration: Estimators except IV"
Migrate IIA estimators except IV into CausalML

[2020-06-05 22:51] jeongyoonlee opened #189 "IIA Integration: Propensity Score Methods"
Migrate IIA's propensity score methods into CausalML

[2020-06-05 22:52] jeongyoonlee opened #190 "IIA Integration: Sensitivity Analysis"
Migrate IIA's sensitivity analysis into CausalML

[2020-06-05 22:52] jeongyoonlee opened #191 "IIA Integration: Covariate Balance"
Migrate IIA's covariate balance into CausalML

[2020-06-05 22:55] jeongyoonlee opened #192 "IIA Integration: Documentation"
Add documentation for IIA code to About, Methodology and README.

[2020-06-12 17:56] jeongyoonlee opened #194 "[FOSSA] Issue with tensorflow - VULNERABILITY"
## VULNERABILITY - tensorflow (2.2.0)

### Component URL
http://tensorflow.org/

### Affected Projects
- (OSS) Causalml

### Issue
Vulnerability - CVE-2020-5215

Description:
In TensorFlow before 1.15.2 and 2.0.1, converting a string (from Python) to a tf.float16 value results in a segmentation fault in eager mode as the format checks for this use case are only in the graph mode. This issue can le

[2020-06-12 18:00] #194 closed

[2020-06-12 18:18] jeongyoonlee opened #196 "Travis build failure due to pytest version"
**Describe the bug**
Travis build is failing due to the version mismatch between `pytest` and `pytest-cov`. `pytest==4.3.1` is installed on Travis while latest `pytest-cov` requires `pytest>=4.6`.

**To Reproduce**
Steps to reproduce the behavior: Initiate Travis build.

**Expected behavior**
Travis build completes successfully.

**Screenshots**

**Environment (please complete the following inform

[2020-06-12 18:29] #196 closed

[2020-06-16 12:20] ziyuwzf opened #198 "could causalml supports centos?i can not pip install causalml successfully"
Compiling causalml/inference/tree/causaltree.pyx because it depends on /usr/local/python3/lib/python3.6/site-packages/Cython/Includes/numpy/__init__.pxd.
Cythonizing causalml/inference/tree/causaltree.pyx

Error compiling Cython file:
------------------------------------------------------------
...
            if sample_weight != NULL:
                # the weights of 1 and 1 + eps are used for tr

[2020-06-18 20:02] #191 closed

[2020-06-18 23:36] yungmsh commented on #178
@Jami1141 thanks for calling this out - I was able to reproduce the bug on my end as well and we will fix this issue in the upcoming release. (cc @jeongyoonlee)

[2020-06-18 23:44] jeongyoonlee commented on #198
Thanks @ziyuwzf for reporting the issue. Could please you share the versions of `Cython`, `scikit-learn`, and `numpy` installed on your system?

[2020-06-18 23:57] jeongyoonlee commented on #186
Thanks for reporting the issue, @jroessler. This issue was fixed in #125 and merged into `master` 5 months ago. Please update causalml and try it again.

[2020-06-18 23:57] #186 closed

[2020-06-19 00:13] jeongyoonlee commented on #160
Hi, @ZSCDumin, currently we don't have the spark version of causalml. For it, we will need additional resource and/or contributions from the community.

[2020-06-19 00:13] #160 closed

[2020-06-19 17:39] huigangchen commented on #171
Hi @ThatShelbs, the meta-learners do not use the transformed outcome as what Pylift uses. The implementation follows methods describe in [this](https://www.pnas.org/content/116/10/4156) and [this](https://arxiv.org/pdf/1712.04912). For example, T-learner may use scikit-learn algorithm to fit the treatment model and the control model separately, and the ITE is simply the difference between the trea

[2020-06-19 17:43] huigangchen commented on #168
Hi @jroessler I think you are right. If you want to estimate the effect of the Churn Prevention Campaign where the goal is to reduce the cancellation, it makes sense to encode the cancellation at 1 and the estimated effect will be negative.

[2020-06-19 18:29] #171 closed

[2020-06-23 03:26] #187 closed

[2020-06-24 18:33] #190 closed

[2020-06-24 19:25] #176 closed

[2020-06-24 19:30] ppstacy commented on #176
Hi @bukosabino thanks for capturing this! Apologies for the delay, we fixed this issue. Please continue using `Causaml` and let us know. Welcome for your future contribution as well, thanks!

[2020-06-24 19:34] jeongyoonlee commented on #154
`tensorflow` now supports Python 3.8, and `causalml` installation in Python 3.8 works without an error.

[2020-06-24 19:34] #154 closed

[2020-06-24 19:42] jeongyoonlee commented on #179
Control is not regarded as a treatment. You don't get CATE for control because the treatment effect of a treatment is measured against the control. i.e. E[Y | X, A=treatment] - E[Y | X, A=control].

For a multi-treatment case, you need to pass the name of the control group to `UpliftRandomForestClassifier()`, and the treatment group along with the feature matrix and output vector to `fit()` as fol

[2020-06-24 19:44] ppstacy commented on #173
Hi @JesseKolb thanks for proposing all the solutions above. As a start, I want to share this first. Currently in `Causalml` for all the meta-learner methods, if we turn on the logging at `INFO` level it will return some basic evaluation metrics of the base learner (which is xgboost for your case) for treatment and control group separately.  Below is the screenshot, do you think if this is sufficie

[2020-06-24 19:58] jeongyoonlee commented on #185
1. CATE calculation in `UpliftRandomForestClassifier`
`UpliftRandomForestClassifer` is a collection of `UpliftDecisionTreeClassifier`. It creates multiple `UpliftDecisionTreeClassifer` with random subsets of features and samples, and takes the average across the outputs of `UpliftDecisionTreeClassifier`s.

CATE in `UpliftDecisionTreeClassifer` is calculated as the average outcome difference in a l

[2020-06-24 19:59] #185 closed

[2020-06-24 19:59] #179 closed

[2020-06-26 02:44] deeplaunch opened #203 "visualize feature importance and interactions in uplift random forest"
**Is your feature request related to a problem? Please describe.**
although the current version has great support to visualize a single uplift tree, there's no way to visualize the feature importance/interaction of uplift forest. this limits the ability to quickly understand what covariates drive the heterogeneous effects.

**Describe the solution you'd like**
would it be possible to create a visu

[2020-06-26 17:24] #189 closed

[2020-06-26 17:56] yungmsh commented on #182
@Jami1141 We don't have a function to perform validation summaries for classification problems yet, but note that this is for synthetic data only (to compute errors and MSE, you need the source of truth, which is unattainable in real life). So if you're trying to evaluate the performance of non-synthetic classification data, I'd use something like AUUC on holdout group for validation.

[2020-06-26 17:56] yungmsh commented on #180
Hi @Jami1141, thanks for bringing this up. These are the current arguments for the BaseXClassifier:
[code]
I realize this is a little confusing (due to all the optional flags), but there's a little note that says "Even if specified, the user must still input either the outcome learner or the effect learner pair." At the moment the best way to use the BaseXClassifier is to ignore `learner`, provide

[2020-06-26 17:56] yungmsh commented on #177
We separately run treatment vs control, and then treatment b vs control.

Your `cate.shape[1]` will be the number of treatment groups you have. You may access `learner._classes` to see what treatment corresponds to which index in cate.

[2020-06-26 18:20] jeongyoonlee commented on #180
@yungmsh agreed. For all classifiers, let's remove `learner` from input arguments. Could you please work on it?

[2020-06-26 18:22] yungmsh commented on #180
Yeah will add it to my list on the next push.

[2020-06-29 13:18] Arminius4 opened #204 "Application to observational data ?"
Dear team,
the Whitepaper to causalml states that

We plan to apply causal inference to observational medical data, where we already know that our data is confounded by clinical guidelines for selecting treatments (which is a motivation to apply causal inference techniques).
Could you please explain what is missing in the current implementation for the application of uplift modeling to observation

[2020-06-30 22:01] #175 closed

[2020-07-01 03:47] alittlesong opened #206 "No module named 'causalml.inference.tree.causaltree'"
**Describe the bug**
I installed causalml from pip and got the error of "ModuleNotFoundError: No module named 'causalml.inference.tree.causaltree'" when importing the following functions/packages:

from causalml.dataset import make_uplift_classification
from causalml.inference.tree import UpliftTreeClassifier, UpliftRandomForestClassifier
from causalml.inference.tree import uplift_tree_string, upl

[2020-07-01 12:35] ziyuwzf commented on #198
0.22

0.22 0.20.2 1.14.5

[2020-07-01 16:43] t-tte commented on #204
Thanks for the great question. There's nothing missing from the package when it comes to observational data. It's just that the uplift modelling methods we've implemented assume what's often called [conditional ignorability](https://en.wikipedia.org/wiki/Ignorability), which is broadly speaking the idea that your feature set X contains the relevant confounders, or more specifically blocks any [bac

[2020-07-02 17:56] jeongyoonlee commented on #198
Hi @ziyuwzf, thanks for sharing the information. The versions of `Cython`, `scikit-learn`, and `numpy` are older than ones required for `causalml`. Please update those packages as specified in `requirements.txt` before building or installing `causalml` as follows:
[code]

[2020-07-02 17:57] jeongyoonlee commented on #198
I will

[2020-07-02 17:57] #198 closed

[2020-07-02 18:16] jeongyoonlee commented on #206
Thanks for reporting the issue, @alittlesong. I just tried it with the same versions of packages, but couldn't reproduce the error (see the screenshot below).
<img width="725" alt="Screen Shot 2020-07-02 at 11 11 43 AM" src="https://user-images.githubusercontent.com/3359887/86395410-10e66c80-bc55-11ea-8556-1d9ab1ea3856.png">

Could you try to remove any cached or previous installation of `causalml

[2020-07-06 08:41] lovejingru opened #207 "evaluate model using AUCC"
hello, a paper from Uber <Improve User Retention with Causal Learning> proposed a new evaluation metric called AUCC. This metric takes the "actual cost" into account to evaluate the ROI (return on investment).
Dose the causalml package has similar evaluate methods, or do you have plan to implement the AUCC?
Thanks

[2020-07-07 08:05] clfeutry opened #208 "X learner 'ElasticNetPropensityModel' error"
**Describe the bug**
In xleaner.py (inference/meta/xlearner.py) the line 693 return an error :

TypeError: 'ElasticNetPropensityModel' object is not subscriptable

when calling xlearner.predict(...)

here the lines 692-694:

`for group in self.t_groups:
                p_model = self.propensity_model[group]['all training']
                p[group] = p_model.predict(X)`

**To Reproduce**

I initial

[2020-07-08 00:06] #208 closed

[2020-07-08 00:08] jeongyoonlee commented on #208
Thanks @clfeutry for reporting the bug. @ppstacy fixed it in #209, which has been merged into master. It will be included in the next release. Meanwhile, you can use the latest master. Thanks.

[2020-07-14 02:21] #40 closed

[2020-07-14 15:37] yogi22 opened #210 "How to get booster for XGBoost learner"
Hi,
   I was trying to extract from an XGBoost learner, similar to how it is done in XGBoost but I get the following message
"XGBoostError: need to call fit or load_model beforehand."
I am fitting the model before trying to extract the model. The screenshot has the commands and error message.

![causalml_error](https://user-images.githubusercontent.com/7282681/87445378-d82b8900-c5ac-11ea-914f-bf6a

[2020-07-14 17:43] jeongyoonlee commented on #210
Thanks for trying causalml, @yogi22. To access the base learner within the meta-learner (in this case, `BaseSRegressor`), you need to access `learner_t.models[t_index]` where `t_index` is the index of the treatment group you're interested. If you have only one treatment group instead of multiple treatment groups, `t_index` will be `0`.

This is to support multiple treatment groups in meta-learners

[2020-07-14 17:47] jeongyoonlee commented on #207
Thanks for your question, @lovejingru. Currently `causalml` doesn't implement AUCC (area under the cost curve). We will talk to the authors of the paper to see if we can add their algorithms as well as new metrics to `causalml` - AUCC will make sense when we have estimators that take into account costs.

[2020-07-14 17:50] #207 closed

[2020-07-14 22:01] yogi22 commented on #210
Thanks for the quick response. Just as an FYI, I was just trying the example in "meta_learners_with_synthetic_data.ipynb".

I was able to extract the booster using t_index as 1. learner.models dict had just one model with index 1. I have a followup question. I was trying to predict the CATE for test data using only the X matrix, (without treatment and outcome as they are not available for test dat

[2020-07-14 23:43] jeongyoonlee commented on #210
The extra column in `BaseSRegressor` is for the treatment because S-learner adds a variable for the treatment to the input feature matrix of the base model,  and calculate the difference between `E[Y | X, A=1] - E[Y | X, A=0]` where `Y` is the outcome, `X` is the covariate/feature matrix, and `A` is the treatment.

If you want to generate predictions regardless the treatment, you can either take t

[2020-07-15 18:54] yogi22 commented on #210
thanks this answers my question

[2020-07-15 18:54] #210 closed

[2020-07-17 02:27] reneix opened #211 "example for feature selection"
Is there any example code for feature selection? I'm using UpliftRandomForestClassifier
I saw this , but still not sure how to do filter works...
Feature Selection Methods for Uplift Modeling , https://arxiv.org/pdf/2005.03447.pdf
thx

[2020-07-20 10:00] dgeidman opened #215 "BaseSlearner.estimate_ate doesn't work"
**Description**
The method BaseSClassifier.fit_predict() throws a TypeError because of an unexpected argument ('return_components') to fit()

**To Reproduce**
[code]

**Expected behavior**
Getting the predictions with no errors

**Environment:**
 - Linux
 - Python 3.6.10
 - pandas==1.0.3, sklearn==0.22.1, cython==0.29.15, XGboost==1.1.1

**Additional context**
I discovered this behavior when tryin

[2020-07-20 10:47] dgeidman commented on #215
Issue #178 seems related

[2020-07-20 15:18] Tanmay-Kulkarni101 opened #216 "MLPT"
**Error on Running MLPT Regressor**
I get the following error
``
 AttributeError: 'MLPRegressor' object has no attribute '_best_coefs'
``

**To Reproduce**
I get this error when I run it with the following parameters:
``
MLPRegressor(early_stopping=True, hidden_layer_sizes=(10, 10),
             learning_rate_init=0.1)
``

**Expected behavior**
It should give me the value of the average treatment

[2020-07-20 20:44] ppstacy commented on #216
Hi @Tanmay-Kulkarni101, thanks for using `causalml` and report this bug. `MLPTRegressor` is just our `BaseTRegressor` with `MLPRegressor` as the learner to estimate control and treatment outcomes that use sklearn's API.

I wasn't able to reproduce the bug with the below sklearn version. I think `causalml`'s `MLPTRegressor` is working fine here. Do you mind checking the sklearn version that you are

[2020-07-20 21:35] #215 closed

[2020-07-20 21:36] #182 closed

[2020-07-20 21:37] ppstacy commented on #215
Thanks @dgeidman for reporting the bug and using `causalml`.  We already fixed this issue and merged it into master. It will be included in the next release. Meanwhile, you can use the latest master. Thanks!

[2020-07-20 21:41] ppstacy commented on #178
Thanks @Jami1141  for reporting the bug and using causalml. We already fixed this issue and merged it into master. It will be included in the next release. Meanwhile, you can use the latest master branch. Thanks!

[2020-07-20 21:41] #178 closed

[2020-07-20 21:42] #177 closed

[2020-07-21 18:44] #156 closed

[2020-07-21 18:44] #153 closed

[2020-07-22 02:57] caizd1994 opened #219 "ImportError: cannot import name 'factorial'"
from causalml.inference.meta import BaseSRegressor, BaseTRegressor, BaseXRegressor, BaseRRegressor
----> 7 from scipy.misc import factorial

ImportError: cannot import name 'factorial

requirement.txt ask scipy==1.4.0
but where scipy >= 1.3
factorial is not in misc

**Expected behavior**
update the package

[2020-07-22 21:08] ppstacy commented on #219
Hi @caizd1994, thanks for using `causalml` and reporting this. In our most recent requiremnt.txt we are using `scipy==1.14.1` because of the tensorflow requirement. I wasn't able to reproduce this bug, as shown in the below screenshot.

![image](https://user-images.githubusercontent.com/19823328/88228929-c426fd80-cc24-11ea-932c-c75173e5ffdf.png)

Could you try to remove any cached or previous inst

[2020-07-23 04:05] caizd1994 commented on #219
when

from causalml.inference.meta import BaseXRegressor

show this error

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-8-bc8da3399a8e> in <module>
----> 1 from causalml.inference.meta import BaseXRegressor

/conda/envs/notebook/lib/python3.6/site-packages/causalml/inference/me

[2020-07-23 17:34] ppstacy commented on #219
Hi, it seems this problem actually coming from `statsmodels`. I also saw similar issue [here](https://stackoverflow.com/questions/56283294/importerror-cannot-import-name-factorial) been discussed.  What's the `statsmodels` version you are using? Could you upgrade to `statsmodels>=0.9.0`? Thanks!

[2020-07-23 18:35] paullo0106 commented on #211
Had a chance to catch up with @yungmsh , will create an example notebook based on their previous work

[2020-07-23 18:49] yungmsh commented on #211
Thanks @paullo0106 !

[2020-07-23 23:09] #180 closed

[2020-07-27 06:08] Tanmay-Kulkarni101 commented on #216
It is a flaky issue. I am not too sure why the error occurs. I'll get back on how to reproduce the problem. I'm closing the issue for now.

[2020-07-27 06:08] #216 closed

[2020-07-29 09:19] ziyuwzf opened #221 "pip install causalml error"
ERROR: Command errored out with exit status 1:
     command: /usr/local/python3/bin/python3.6 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-f1ygkzh8/causalml/setup.py'"'"'; __file__='"'"'/tmp/pip-install-f1ygkzh8/causalml/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __f

[2020-07-29 17:04] ppstacy commented on #221
Hi @ziyuwzf thanks for reporting this. I saw there is an [issue](https://github.com/uber/causalml/issues/198) opened by you before here. Have you tried the solution provided there?

[2020-07-31 18:39] LucasDresl opened #222 "How to use BaseXClassifier properly ?"
**Description**

I am trying to implement BaseXClassifier for a classification setting and when i used BaseXClassifier.fit() on a binary dependant variable (y) throws ValueError: Unknown label type: 'continuous'

**To Reproduce**

[code]

**Environment:**

- Mac
- Python 3.6.9
- pandas==1.0.5, sklearn==0.22.2

**Expected behaviour**
I was expecting to classifier fit because my y is binary (0 or 1)

[2020-07-31 19:11] yungmsh commented on #222
Hey @LucasDresl thanks for the question- you need to supply a regressor model (e.g. LinearRegression) to the `control_effect_learner` and `treatment_effect_learner` arguments. FYI we're updating the API for next release whereby you just have to provide 2 models (instead of 4 currently), probably in a couple weeks.

[2020-08-01 15:16] LucasDresl commented on #222
Hey @yungmsh ! thank you very much :) got it !

[2020-08-05 22:07] snjie209 opened #224 "Building causalml from source failure: UnicodeDecodeError"
**Describe the bug**
I am trying to install causalml by building it from source and following your instructions.

I spun up a docker container with these configurations and am working inside of that.

**To Reproduce**
To reproduce, follow instructions from main page to build from source: https://github.com/uber/causalml

Install from source:

$ git clone https://github.com/uber/causalml.git
$ cd c

[2020-08-05 22:18] snjie209 commented on #224
Actually I had to change my encoding to UTF-8 per https://stackoverflow.com/questions/52419117/not-able-to-read-file-due-to-unicode-error-in-python. Which solved it for me.

[2020-08-05 22:18] #224 closed

[2020-08-05 22:20] #222 closed

[2020-08-07 22:32] mwijaya3 opened #225 "Save the model and serializing?"
Hello all,

Thanks for the awesome package! I tried to search the issues and see no mention of how we can save the model or better yet serializing and deserializing the model.

I am using [joblib](https://scikit-learn.org/stable/modules/model_persistence.html) to dump and load the model at the moment. Is that the correct approach here?

Thanks in advance!

[2020-08-13 12:32] #204 closed

[2020-08-13 16:29] #211 closed

[2020-08-17 10:17] limorigu opened #226 "Import errors: either 'no module's when installing from source, or "no attribute '__reduce_cython__'""
Many thanks for your work on this great project!

**Describe the bug**
I am trying to run your example notebook, and keep hitting import errors, regardless of continuous uninstall/install attempts.

1) When installing form pip (even pip install --no-cache-dir -U causalml, as per #206), I end up running into

`AttributeError: type object 'causalml.inference.tree.causaltree.array' has no attribute '

[2020-08-17 10:31] limorigu commented on #226
I found #148, and indeed

`python setup.py build_ext --inplace` from within the cloned repo folder did the job for me. I'm going to leave this open in case you think that should not be the expected behaviour -- but I did get it to work, in case other find themselves in a similar situation.

Thanks!

[2020-08-17 19:35] ppstacy commented on #226
Glad that you made it to work @limorigu. I will close this issue and please let us know if find anything else later. Thanks!

[2020-08-17 19:35] #226 closed

[2020-08-19 16:47] yungmsh commented on #203
Addressed by https://github.com/uber/causalml/pull/220

[2020-08-19 16:47] #203 closed

[2020-08-19 17:08] ppstacy commented on #225
Hi @mwijaya3 thanks for using `causalml`. I am using `joblib`  as well to save the model which is working perfectly for me. I think this approach works, I will close this issue for now. Please try it and let us know if you find any issues later. Thanks!

`joblib.dump(learner, model_path)`

[2020-08-19 17:08] #225 closed

[2020-08-20 07:50] ZhiyuanLIPlus opened #227 "Maybe wrong return obj in UpliftRandomForestClassifier.predict()"
**Describe the bug**
At the comments of  function predict()@UpliftRandomForestClassifier, i've got the following information:

        Returns
        -------
        df_res : DataFrame, shape = [num_samples, (num_treatments + 1)]
            A DataFrame containing the predicted delta in each treatment group,
            the best treatment group and the maximum delta.

But at the end of function p

[2020-08-20 16:47] mwijaya3 commented on #225
That's what I did as well. Thanks for the info @ppstacy.

[2020-08-26 07:55] Jami1141 commented on #179
Thanks for your reply. So, I should make a new column as control? my
treatment column is included on 0,1,2 which 0 is control ones. Should I
separate control ones?

Thanks in advance

On Wed, Jun 24, 2020 at 10:00 PM Jeong-Yoon Lee <notifications@github.com>
wrote:

[2020-09-06 11:32] ZSCDumin opened #229 "Is there code error?"
<img width="865" alt="截屏2020-09-06 下午7 28 28" src="https://user-images.githubusercontent.com/19670365/92324818-b4019b00-f077-11ea-8364-7836e6835d65.png">

[2020-09-06 19:10] paullo0106 commented on #229
This seems to be the implementation from the beginning, @zhenyuz0500 @jeongyoonlee thoughts before I dig deeper?
https://github.com/uber/causalml/blob/master/causalml/inference/tree/models.py#L969

[2020-09-07 05:39] jeongyoonlee commented on #229
Thanks @ZSCDumin for catching this. It looks like a bug to me, but I'd like to defer to @zhenyuz0500 and @t-tte. @zhenyuz0500 and @t-tte, could you confirm? Thanks!

[2020-09-08 12:48] Julia0207 opened #230 "Problems with uplift tree visualization"
Hi,

thank you for the  useful examples. We had a special focus on **causalml/examples/uplift_tree_visualization.ipynb** and have a question regarding the last step, the tree visualization itself:

After running
**_Image(graph.create_png())_**
we obtain the error message
_“Graphviz executables not found”._
For that reason, we installed Graphviz 2.38 and mentioned the corresponding path in this sta

[2020-09-12 04:39] paullo0106 commented on #230
Thanks for reaching out, @Julia0207 . I'm not too familiar with windows env, to be honest. Would some solutions in [this thread](https://stackoverflow.com/questions/35145509/why-is-ipython-display-image-not-showing-in-output) solve this?

[2020-09-16 17:14] paullo0106 commented on #229
action item: Paul to test the updated algorithm

[2020-09-16 17:22] jeongyoonlee commented on #221
@ziyuwzf, as mentioned in #198, could you make sure you have the required versions of `cython`, `scikit-learn`, and `numpy` installed?

[2020-09-16 17:25] jeongyoonlee commented on #206
Hi, @alittlesong, were you able to resolve the issue?

[2020-09-16 17:38] deeplaunch opened #234 "Question on uplift curve with multiple treatments"
In the tutorial **[uplift_trees_with_synthetic_data](https://github.com/uber/causalml/blob/master/examples/uplift_trees_with_synthetic_data.ipynb)**, the author compares the treatments which happen to have the highest predicted CATE (let's call it "synthetic treatment") with the control group.

Is there some selection problem here? Specifically, by definition this will skip the subset for which no

[2020-09-20 05:37] ZSCDumin commented on #229
yes, I confirm that is a bug.

[2020-09-22 17:03] Shiutang-Li opened #235 "Question about multi-treatment case"
Hi team,

I was trying to run the X regressor with multiple treatments ('control', 'treatment_1', 'treatment_2'),
for 1000 rows.

learner_x = BaseXRegressor(learner=XGBRegressor(), control_name='control')
cate_x = learner_x.fit_predict(X=train[features],
                               treatment=train['Treatment'],
                               y=train['Target'],
                               ret

[2020-09-26 08:32] paullo0106 commented on #229
[Updated the line](https://github.com/uber/causalml/compare/master...paullo0106:uplift_tree_update?expand=1) in the `UpliftTreeClassifier` as ZSCDumin pointed out, and ran through [uplift_tree_visualization.ipynb](https://github.com/paullo0106/causalml/blob/uplift_tree_update/examples/uplift_tree_visualization.ipynb) and [uplift_trees_with_synthetic_data.ipynb](https://github.com/paullo0106/causal

[2020-10-05 22:57] ppstacy commented on #219
Hi @caizd1994, just want to check-in to see if you still have this issue? Thanks!

[2020-10-06 00:14] ppstacy commented on #227
Hi @ZhiyuanLIPlus, thanks for using `CausalML` and your inputs. Here `y_pred_list` meant to only return the prediction results, if you want to put it in a nicer format you can follow the code below which is also available in the [uplift_trees_with_synthetic_data](https://github.com/uber/causalml/blob/master/examples/uplift_trees_with_synthetic_data.ipynb) example notebook. Now after #236  you can

[2020-10-06 00:39] ppstacy commented on #235
Hi @Shiutang-Li thanks for using `CausalML`!

Here I noticed that you used `return_components=True` in`fit_predict()` function, by doing this we will return the interim predicted outcome for treatment and control separately. It might be better to return the nested tuple results the following way so you will be more clear about the outputs.

`te, dhat_cs, dhat_ts =  learner_x.fit_predict(X=train[fe

[2020-10-07 05:05] jeongyoonlee commented on #229
That's great! @paullo0106, could you please submit a PR for your fix? Thanks.

[2020-10-07 06:03] jeongyoonlee commented on #234
Thanks for the question, @deeplaunch. I added the author of the notebook, @t-tte so that he can answer to your question when he's available, but, meanwhile, let me try to provide my answers.

For those whom no treatment is better than control for, the recommended `treatment` by the uplift model is indeed `control`. Therefore, it's correct to assign them to `control` instead of `synthetic treatment

[2020-10-07 20:41] Shiutang-Li commented on #235
Thanks @ppstacy  for your detailed explanations : )

[2020-10-07 20:42] #235 closed

[2020-10-07 20:49] paullo0106 commented on #229
Fixed in the latest merge, thanks to ZSCDumin again!

[2020-10-07 20:49] #229 closed

[2020-10-07 20:59] jeongyoonlee opened #239 "Adding Stadie et al.'s Y-learner"
Stadie, Bradly C., et al. "Estimating heterogeneous treatment effects using neural networks with the Y-Learner." (2018). ([pdf](https://openreview.net/forum?id=ryxnDoRcK7))

[2020-10-14 07:24] yajiez opened #240 "Export fitted models to PMML"
Is it possible to export a trained model (i.e. UpliftRandomForestClassifier) to a PMML file for deploying?

Many thanks

[2020-10-17 04:34] paullo0106 opened #241 "estimate_ate doesn't take propensity scores parameter as pd.Series for BaseXRegressor"
**Describe the bug**
With examples in [Meta-Learner notebook](https://github.com/uber/causalml/blob/master/examples/meta_learners_with_synthetic_data.ipynb), `BaseXRegressor.estimate_ate()` would fail if pass in `p`, propensity scores parameter in `pd.Series` format rather than `np.ndarray`, error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

while it works fine with

[2020-10-17 04:53] paullo0106 commented on #241
I think it has something to do with `convert_pd_to_np()` is not invoked in `if isinstance(p, np.ndarray)` evaluation

@yungmsh what was the context of excluding `pd.Series` from `if isinstance(p, (np.ndarray, pd.Series))`?
https://github.com/uber/causalml/commit/9a0b331defe5a226367ba8243a09b5b839b2917c

[2020-10-22 07:38] #241 closed

[2020-11-04 18:56] soodimilanlouei opened #244 "Continuous Response Variable: P-values"
I'm training a random forest model, where the response variable is continuous. When I look at one tree from the forest, the p-values are always NaN. Why is that?

[2020-11-04 21:41] shaddyab opened #245 "Recommended hyperparameters tuning approach"
Are there any recommended guidelines or tutorials that should be followed when tuning the hyperparameters of R or X learners?
For example, for the X learner, should all four learners (i.e., control_outcome_learner, treatment_outcome_learner, control_effect_learner, and treatment_effect_learner) be tuned separately or combined?

Assuming 1) grid search approach, 2) X-learner  3) Lasso is the meta-l

[2020-11-05 19:16] paullo0106 commented on #244
Thanks for reaching out, are you using `UpliftRandomForestClassifier`? Currently, uplift tree only supports classfication, it's on the road map to cover regression use case in the future.

[2020-11-05 21:17] soodimilanlouei commented on #244
Thanks for the response.
Yes, I'm using `UpliftRandomForestClassifier`.
When I use `UpliftTreeClassifier` for the continuous response variable, it raises an error (the tree is empty).
However, interestingly, when I run `UpliftRandomForestClassifier`, it trains the model and I can plot the gain and lift graphs as well. I also can visualize one of the trees in the forest; however, p-values are alway

[2020-11-06 21:40] shaddyab opened #246 "Transformed Outcome methods"
Are there any plans to include Transformed Outcome algorithms in this package?

[2020-11-07 05:11] paullo0106 commented on #244
Correct, this is not from the accurate Regression tree implementation.

[2020-11-11 16:08] soodimilanlouei commented on #244
In this [example](https://github.com/uber/causalml/blob/master/examples/feature_selection.ipynb), shouldn't the base learners for R-Learner be `RandomForestClassifier `instead of `RandomForestRegressor `since the response variable is binary (Conversion)?

[2020-11-11 22:31] mravendi opened #247 "Causalml ATE and Learning Rate Sensitivity"
The default learning rate for LGBMRegressor in CausalML is 0.1. But I wanted to see how it would perform with other values
of learning rates.  As you can see below, it seems that the ATE can drastically change by changing the learning rate of the base learner. Anyone can help explain this behavior?

Here is my setup. I generate some synthetic data:

[code]

and built a simple T-learner with differ

[2020-11-11 22:38] ppstacy commented on #247
Hi @mravendi, this is interesting and thanks for sharing it with us.

When you use the different learning rates, have you looked at the model accuracy?  Usually, with a smaller learning_rate, it will need more num_iterations, which seems set at the same in the code you provided. I think it might be a more fair comparison to look at ATE when the model with similar accuracy. Let me know if this make

[2020-11-11 22:44] ppstacy commented on #246
Hi @shaddyab thanks for using `CausalML` and bring this topic up. I don't think we have any plans right now. But we are open to anything for Causal Inference related algorithms. Do you already have something in mind or do you have any related papers or links to share with us? Thanks!

[2020-11-11 22:55] mravendi commented on #247
That is a good point. How do you measure the model accuracy here?

Regarding num_iteration, the default ```num_estimators =100``` in the CausalML. But I tired ```num_estimators =1000``` too.

[code]
Here is the output:

[code]

Not much difference with before.

[2020-11-11 23:21] ppstacy commented on #247
If you turn on the logging at INFO level it will return some basic evaluation metrics of the base learner. Below is the screenshot:

[code]

![image](https://user-images.githubusercontent.com/19823328/98875634-78959b00-2431-11eb-9a66-d9563ad764e8.png)

[2020-11-11 23:58] mravendi commented on #247
Thanks, @ppstacy for the reply.

Clearly, there is a negative correlation between the accuracy metrics and the ATE values. It is strange since we expect the
worst-performing models (measured by metrics) to attain lower ATE values.
So perhaps looking at the ATE as a measure of model performance is not enough and it should be in accordance with other metrics.

[code]

[2020-11-12 00:35] ppstacy commented on #247
First lower values of RMSE indicate better fit since it's a regression problem, so here isn't a negative correlation.
Second, I don't think it's a good idea only looking at ATE to measure model performance.  Maybe you can take a look of those example notebooks: [meta_learners_with_synthetic_data](https://github.com/uber/causalml/blob/master/examples/meta_learners_with_synthetic_data.ipynb) and [va

[2020-11-12 00:53] mravendi commented on #247
By negative correlation I mean lower values of RMSE have ** lowe ATE values.**
RMSE=1.x => ATE=0.87
RMSE=0.7x => ATE=0.49

But, intuitively, we expect when RMSE declines (better fit), ATE should increase.

[2020-11-12 18:53] paullo0106 commented on #244
I think you're right, thanks for flagging that! Will make changes to feature_selection.ipynb

[2020-11-12 21:06] shaddyab commented on #246
I know that the Transformed Outcome is already implemented in the [pylift](https://pylift.readthedocs.io/en/latest/introduction.html) python package.I was wondering if it will also be included here with some adjusted modifications.

I also found this paper that presents a comparison between different algorithms with emphasize on revenue uplift
[Response transformation and profit decomposition for

[2020-11-12 22:25] soodimilanlouei commented on #244
Another question that I have is regarding the arguments of  `BaseXClassifier` function. In this [link](https://github.com/uber/causalml/blob/6122f0b84f7dad938961e66d50222057f8c801da/causalml/inference/meta/xlearner.py#L559), it says that:

_"outcome_learner (optional): a model to estimate outcomes in both the control and treatment groups. Should be a regressor."_
_"effect_learner (optional): a mod

[2020-11-15 00:20] paullo0106 commented on #244
Your points make sense to me that the docstring for parameters of `BaseXClassifier` needs some correction, [predict_proba()](https://github.com/uber/causalml/blob/6122f0b84f7dad938961e66d50222057f8c801da/causalml/inference/meta/xlearner.py#L670) invocation is for classfiers. @ppstacy @jeongyoonlee, or others, can you confirm that for an **X-Learner classifier**, the outcome learner (_M1 and M2_) i

[2020-11-16 02:00] jeongyoonlee commented on #244
Thanks @soodimilanlouei and @paullo0106. Yes, in `BaseXClassifier`, `outcome_learner` should be a **classifier** while `effect_learner` should be a **regressor**. Please feel free to submit a PR. Thanks again!

[2020-11-16 12:36] Garve opened #249 "BaseXClassifier, outcome_learner and effect_learner switched?"
Hi!

Running causalml 0.9.0 on Windows.

Consider the famous kidney stones example. First, I'm going to create the dataset.

[code]

Using Microsoft's dowhy and manual approaches (a manual S-learner), one expects that the ATE is around 0.05. I tried to recompute this using causalml's BaseXClassifier.

The help says:

[code]

However, if I instantiate it via

[code]

as suggested by the help, it do

[2020-11-16 23:05] paullo0106 commented on #249
Thanks for reaching out and the detailed example! You are correct that this is documentation error which _soodimilanlouei_ also mentioned recently in #244

[2020-11-17 03:44] yoshiakit opened #252 "Unable to adjust figsize when plotting feature importance"
Hi. I have a problem using `BaseXClassifier.plot_importance` to visualize feature importance with my dataset that has approx. 300 features.
The `matplotlib.pyplot.figsize` is too small for the data that the letters inside a visualized output are unable to be seen.
Also, I failed to intervene the values of figsize, as the method above is dependent on ` Explainer.plot_importance` in `causalml.infere

[2020-11-17 08:36] paullo0106 commented on #244
the arguments documentation part was fixed in PR #251

[2020-11-17 14:13] maccam912 opened #253 "Make Tensorflow an optional dependency to reduce total download size"
**Is your feature request related to a problem? Please describe.**
I am currently deploying code using causalml in an environment with limited disk space, and the tensorflow dependency by itself is the difference between having enough space and running out. The code I'm deploying does not make use of tensorflow.

**Describe the solution you'd like**
Tensorflow can be made an extra in pip, so a "pi

[2020-11-17 16:31] mravendi commented on #247
I am closing this issue as I think the point was made to not assume the ATE as the main criteria for model comparison.

[2020-11-17 16:31] #247 closed

[2020-11-17 17:42] shaddyab opened #254 "ElasticNetPropensityModel class is empty"
Based on the inference/meta/xlearner.py fit function docstr when p (propensity score) is None then ElasticNetPropensityModel() is used to generate the propensity scores. However, it appears to me that the ElasticNetPropensityModel in causalml/propensity.py is empty. Is this is a bug or am I missing something? Because I don't get an error message when fitting a xlearner learner

`
`class ElasticNet

[2020-11-17 18:03] paullo0106 commented on #254
Thanks for reaching out, as _ElasticNetPropensityModel_ is a child class of [_LogisticRegressionPropensityModel_](https://github.com/uber/causalml/blob/master/causalml/propensity.py#L75), it passes in parameters such as _'penalty': 'elasticnet'_ in `model_()` to call sklearn's _LogisticRegressionCV_

[2020-11-17 19:41] shaddyab commented on #254
@paullo0106 , thank you for taking the time to answer my question.
You answer makes sense. However, when further examining the fit function and the __init__, I was unable to find how to pass the propensity_model argument to the xlearner.
In __init__ it will always default to None (i.e., it is not an input arg) while in the fit function it will be set to the default ElasticNetPropensityModel model

[2020-11-17 21:55] jeongyoonlee commented on #249
@paullo0106 fixed this in #251.

[2020-11-17 21:55] #249 closed

[2020-11-17 22:05] shaddyab opened #255 "X-Learner: Propensity scores for experimental data"
If I have results form experimental/historical uplift test where 70% of the population was **randomly** assigned to the treatment group and 30% **randomly** assigned to the control group and I am using a X-Learner do I still need to run a model (e.g., ElasticNetPropensityModel) to calculate the propensity scores or is it sufficient to provide an array with 0.7 as the propensity scores for all the

[2020-11-17 22:10] paullo0106 commented on #254
right, so the current [examples](https://github.com/uber/causalml/blob/master/README.md#average-treatment-effect-estimation-with-s-t-x-and-r-learners) for these meta-learners is that you can pass in the pre-calculated propensity to `fit()`, `fit_predict()`, `estimate_ate()`, or by default it will use _ElasticNetPropensityModel_ or other models in `compute_propensity_score()` to calculate the score

[2020-11-17 22:15] shaddyab commented on #254
@paullo0106 Exactly! It would be nice to have the PropensityModel as a passable argument.

[2020-11-17 22:18] jeongyoonlee commented on #254
Hi @shaddyab. Currently, you should pass propensity scores, `p`, directly to X-learner's `fit()` and/or `predict()` instead of the `propensity_model`. The rational was that propensity modeling can have a different scope, and is better to be separated from uplift modeling.

[2020-11-17 22:27] shaddyab commented on #254
@jeongyoonlee This makes sense.
I posted this question as I a trying to figure out how to 1) tune the X-learner, 2) specify the propensity scores for experimental data ( I already posted two separate questions [here](https://github.com/uber/causalml/issues/255) and [here](https://github.com/uber/causalml/issues/245).

In summary:
1. Should each of the individual four learners + propensity model in

[2020-11-18 10:50] HarshCasper opened #257 "Add a Pull Request Template"
**Is your feature request related to a problem? Please describe.**
I would like to have a Pull Request Template as part of this Repository.

**Describe the solution you'd like**
We can have a Pull Request Template for the same to make it easy for the contributors to fill out while making a PR.

**Describe alternatives you've considered**
The only other alternative would be just to ask the Contribu

[2020-11-18 19:13] #253 closed

[2020-11-18 22:37] #257 closed

[2020-11-19 00:14] ppstacy commented on #255
Hi @shaddyab, base on my experience with experimental data I think it should be good to use 0.5 as the propensity score. Because users have an equal chance to be assigned into control or treatment no matter the test size.

[2020-11-19 00:22] ppstacy commented on #252
Hi @yoshiakit thanks for using CausalML and reporting this. I think @yungmsh who is the contribution of the explainer module probably will know more why we set it up as (12, 8). I don't know a way to adjust it externally, maybe we could just allow users to pass the figsize into the `plot_importance()` function.  How do you guys think about it? @jeongyoonlee @yungmsh @paullo0106. I can work on it i

[2020-11-19 00:30] ppstacy commented on #246
Thanks @shaddyab for sharing those!

Maybe I am wrong, but currently the `predict()` function in CausalML returns the predictions of treatment effects which are continuous values for both classification (pylift) and regression problem (revenue uplift). So I don't think we need to transform the outcome.

@jeongyoonlee @huigangchen @t-tte how do you guys think about it? Any outcome transfer method w

[2020-11-19 03:05] yoshiakit commented on #252
@ppstacy
Thanks for your sincerity and connecting people. I'll be waiting for their updates :)
I'd also be glad to work on it if needed!

[2020-11-19 07:03] paullo0106 commented on #252
that's the same fix I have in mind too : )

[2020-11-19 15:03] shaddyab commented on #255
@ppstacy, Thank you for taking the time to answer my question. I will experiment with this configuration.

[2020-11-19 15:14] shaddyab commented on #246
@ppstacy , I agree that the current CausalML package already estimates the ATE; however, I thought it would be a useful  additional to this package, especially that the transformed outcome is an unbiased estimate of the treatment effect. Hence, it can be used as a target variable for model training (i.e., A single meta learner is needed).

[2020-11-19 16:43] yling1105 opened #261 "Issue about ElasticNetPropensityModel"
**Describe the bug**

I have two questions:
When I try to use fit_predict() to produce the propensity score array, it raised an error that:
_TypeError: clip() argument after * must be an iterable, not int_
The clipbounds is defined as (1e-3, 1 - 1e-3) in the class. Is there any problem with this?

**To Reproduce**

Steps to reproduce the behavior:
X: (2392, 8) np.matrix
t: (2392, ) np.array
pm = E

[2020-11-19 16:50] shaddyab commented on #261
It appears to me that you provided the clip_bounds arg as an integer (i.e., 5) rather than a tuple.

[2020-11-19 16:57] yling1105 commented on #261
Thanks a lot for replying to me. After removing the arguments, it works. I referred to the tutorial:
<img width="457" alt="Screen Shot 2020-11-19 at 10 52 11 AM" src="https://user-images.githubusercontent.com/41468691/99697840-b6a84580-2a55-11eb-84ac-bc0a0672f247.png">
I wonder if there is no n_fold any more? Since if I put n_fold in the function, there is an error that:
TypeError: __init__() got

[2020-11-19 17:04] shaddyab commented on #261
Which version are you using?

[2020-11-19 17:08] yling1105 commented on #261
causalml 0.9.0

[2020-11-19 18:06] paullo0106 commented on #261
Thanks for bringing this up, this seems to have something to do with changes in [one of the latest commits](https://github.com/uber/causalml/commit/c99ebc5d05a41c8384feaf7e3c144b2b1b65f826#diff-031f9743b66108fa0e8499556f97ae5755c443a0a31af89c89fa1c52a89d08bb). Requires a bit more check, @waltherg any suggestions here?

[2020-11-19 20:04] paullo0106 commented on #261
the above pull request should address this issue

[2020-11-19 21:53] #261 closed

[2020-11-20 00:08] jeongyoonlee commented on #254
1.  The same propensity score model can be used for the X-learner and R-learner. So it makes sense to train/tune the propensity score model separately from meta-learners.
2. For randomized controlled trial (RCT) data, you can use a constant probability without training a propensity score model.

Hope this helps.

[2020-11-20 15:48] shaddyab commented on #254
@jeongyoonlee, this definitely helps. Would it also be possible for you to weigh in on the recommended approach for tuning posted [here](https://github.com/uber/causalml/issues/245)?

As a side note, I spent some time figuring out how to integrate the current code base with sklearn CV function (e.g., cross_validate). The main issue is when p is provided to the fit function using the 'fit_params' a

[2020-11-20 22:36] adilahiri commented on #206
@alittlesong would like to know if you were able to resolve the issue, I made sure the requirements were fine on my end but still getting the error.

[2020-11-21 04:34] t-tte commented on #234
Thanks for the very good question @deeplaunch! @jeongyoonlee already provided some great clarifications above. The only thing I'd like to add is that there are multiple ways in which you could construct the contrast against which you evaluate the performance of an uplift model. In more recent work, I've preferred the approach set out in [Kapelner et al 2014](https://arxiv.org/abs/1404.7844) in whi

[2020-11-21 04:34] #234 closed

[2020-11-21 04:37] t-tte commented on #188
I think this was done over the summer. Feel free to reopen if there are still some outstanding tasks.

[2020-11-21 04:37] #188 closed

[2020-11-21 04:46] t-tte commented on #158
For now there are no plans to implement parameter search methods for UpliftRandomForestClassifier as a part of Causal ML. The question about recommended parameter values is an excellent one but unfortunately cannot be answered yet: our testing shows that "it depends". The safest approach for you is to evaluate multiple values with data in which you know the ground truth. This could be either data

[2020-11-21 04:46] #158 closed

[2020-11-21 04:51] t-tte commented on #255
Given the original title of the question, I'd like to add that the R-learner relies more heavily on the propensity score, and it's a good practice to estimate the score even with data from a randomized experiment (see the discussion [here](https://github.com/uber/causalml/issues/70)).

[2020-11-21 05:04] t-tte commented on #246
As far as I understand the distinction between transformed outcome methods and others, our [uplift tree methods](https://github.com/uber/causalml/tree/master/causalml/inference/tree) fall under the category. But let me know if you have some other definition in mind.

More generally, if there are specific algorithms out there that have promising results in experiments, we're of course always intere

[2020-11-23 03:21] deeplaunch commented on #234
Thank you both for such detailed answers @jeongyoonlee and @t-tte -they're very helpful.

Will check out the papers too! cc'ed @mavpanos

[2020-11-25 19:50] Dvirbeno commented on #54
Note that that part on the current release implementation:
(Under UpliftTreeClassifier.growDecisionTreeFrom())

`

            # unique values
            lsUnique = np.unique(columnValues)

            if (isinstance(lsUnique[0], int) or
                    isinstance(lsUnique[0], float))
            ):
                if len(lsUnique) > 10:
                    lspercentile = np.percentile(column

[2020-11-29 08:17] cysjtu opened #263 "do you have casual tree model?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-02 16:36] soodimilanlouei opened #265 "Shapley and Partial Dependence Plots for Causal RF"
Is there any way to plot the shap values for Causal RF class?
What about partial dependence plots?

[2020-12-04 04:09] manojbalaji1 commented on #219
force upgrade of statsmodels fixes this issue

[2020-12-04 05:41] manojbalaji1 opened #267 "UpliftRandomForrestClassifier exit codes of the joblib workers are {SIGKILL(-9)}"
**Describe the bug**
UpliftRandomForrestClassifier parallelized jobs gets killed by OS

**To Reproduce**
Steps to reproduce the behavior:
Create a df with 2M rows and 400 columns,
initialize UpliftRandomForrestClassifier object set n_jobs=8 (since i am using a 8 vcpu, 64gb RAM machine)
UpliftRandomForrestClassifier object.fit on df

**Expected behavior**
/opt/conda/lib/python3.6/site-packages/jobl

[2020-12-04 08:59] paullo0106 commented on #267
Looks like an out of memory error ([a similar case](https://stackoverflow.com/questions/20231491/random-forest-classifier-segmentation-fault)), would you mind trying:

- Reduce # of columns by using the [built-in Filter method](https://github.com/uber/causalml/blob/master/examples/feature_selection.ipynb) to select only top features
- Start with a smaller # of trees (maybe `n_estimators=3`) or onl

[2020-12-04 12:27] manojbalaji1 commented on #267
@paullo0106 I will definitely try this, but I think it's a known issue of Joblib.
Meanwhile,  one of the reason I saw the issue the first time is because n_jobs was not part of docstring, due to which I missed  giving a value for it and n_jobs=-1 has some issues of memory leakage in joblib. I have added this to docstring in this PR: https://github.com/uber/causalml/pull/266

can you please merge i

[2020-12-04 17:20] Shiutang-Li opened #268 "plot_shap_values having only one color"
**Describe the bug**

In feature_interpretations_example.ipynb,
https://github.com/uber/causalml/blob/master/examples/feature_interpretations_example.ipynb
plot_shap_values() generates only one color.

However, for the feature plot in the SHAP package,
(https://github.com/slundberg/shap)
shap.summary_plot(shap_values, X) contains both red, blue, purple colored dots. These colors can help us identi

[2020-12-04 18:55] paullo0106 commented on #267
Merged the PR, thanks for looking into it and contributing! I didn't know much about this issue in *Joblib*, do you have more info to share? Feel free to let us know if you have any proposed changes to address it

[2020-12-05 22:54] paullo0106 commented on #268
Thanks for flagging this, @Shiutang-Li. This has been fixed in PR #269, examples in the mentioned notebook and [README](https://github.com/uber/causalml#meta-learner-feature-importances) are updated accordingly, too. Let me know if it works for you now.

[2020-12-05 22:54] #268 closed

[2020-12-08 16:53] manojbalaji1 opened #270 "Feature selection pd.qcut n_bins duplicate issue"
I just wanted to check what was the reason behind settings duplicate='raise' in filter using KL? One of the variable which was given as input had raised error due to duplicates in pd.qcuts, it is not a categorical variable

[2020-12-08 17:54] #192 closed

[2020-12-09 02:26] manojbalaji1 commented on #270
I can change it to drop duplicate edges as instead of raise, drop fixes this or rank the values then do qcut @paullo0106 what do you say?

[2020-12-09 18:17] manojbalaji1 commented on #270
@paullo0106 I tested with duplicates='drop', which seems to work for me and seems to solve the problem. If you are ok I will do the changes.

[2020-12-09 23:39] paullo0106 commented on #270
Thanks @manojbalaji1 , I haven't had a chance to take a closer look. Can you submit a PR and we can potentially have more input from other contributors?  Thank you

[2020-12-11 21:17] #267 closed

[2020-12-11 21:21] ppstacy commented on #263
Hi @cysjtu,

We do have the casual tree model under the tree API of inference [here](https://github.com/uber/causalml/tree/master/causalml/inference/tree). Please take a look. We also have an example notebook [here](https://github.com/uber/causalml/blob/master/examples/uplift_trees_with_synthetic_data.ipynb). Please take a look and let us know if you have any follow up questions. Thanks!

[2020-12-14 11:25] vaclavbelak opened #272 "AUUC gives incorrect results when multiple models are scored"
**Describe the bug**
For some datasets, if the `auuc_score` is applied to results from multiple models, it returns wrong score for every second model.

**To Reproduce**
[code]
Results into:
[code]

**Expected behavior**
The same AUUC for all models is expected here, since the predictions are all the same:

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/9254281/102075741

[2020-12-14 11:29] vaclavbelak commented on #272
I have a fix in a separate branch, happy to share it in whatever way you prefer.

[2020-12-14 18:12] jeongyoonlee commented on #272
Thanks for filing the issue, @vaclavbelak. Please submit a PR from your branch so that we can review and merge it.

[2020-12-14 18:24] vaclavbelak commented on #272
@jeongyoonlee Sure, will be happy to do that, but I get 403 when trying to push my branch. Do I need some permissions to do so?

[2020-12-14 18:27] jeongyoonlee commented on #272
You need to fork the repo, update it, then submit a cross repo PR. Please check out the instruction [here](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork).

[2020-12-15 12:24] RuslanTs opened #275 "Unreproducible UpliftRandomForestClassifier"
**Describe the bug**
UpliftRandomForestClassifier doesn't give the same results when runs with the same data and the same params (seed fixed). Because random seed in bootstrap is not fixed - it has to be the different realization of bootstrap.

**To Reproduce**
Run UpliftRandomForestClassifier several times with the same params and compare predicts

**Expected behavior**
Getting the same predicts

[2020-12-15 20:53] #272 closed

[2020-12-16 17:45] #270 closed

[2020-12-16 20:21] #255 closed

[2020-12-16 20:21] #254 closed

[2020-12-16 20:22] #246 closed

[2020-12-16 20:22] #244 closed

[2020-12-16 20:23] #221 closed

[2020-12-16 20:23] #219 closed

[2020-12-16 20:24] #173 closed

[2020-12-16 20:25] #168 closed

[2020-12-16 20:25] #100 closed

[2020-12-17 05:24] paullo0106 commented on #275
Reopening this, @RuslanTs might revisit fix in #274 later so we can merge the PR

[2020-12-26 18:23] mhfddhr opened #277 "AttributeError: type object 'causalml.inference.tree.causaltree.array' has no attribute '__reduce_cython__'"
I tried to run the causaltree  example,and meet this error...

from causalml.dataset import make_uplift_classification
from causalml.inference.tree import UpliftRandomForestClassifier
from causalml.metrics import plot_gain

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-8-98dc377

[2020-12-27 02:55] mhfddhr commented on #277
problem solved by reinstall sklearn with version 0.22.2

[2020-12-27 02:55] #277 closed

[2021-01-05 17:33] saiwing-yeung commented on #235
Hi @ppstacy, thank you too for the explanation. I have a follow up question. How is returned results ordered? Is it dependent on the label of the treatments? For example in the OP's case, based on `treatment_1` and `treatment_2`? And, say for some reason, `treatment_1` and `treatment_2` are instead coded as `treatment_b` and `treatment_a` and then we refitted, then the returned results will automa

[2021-01-05 22:55] ppstacy commented on #235
Hi @saiwing-yeung yes, the returned results will be based on your input name of the different treatment labels. In terms of the order we sort it after get the labels as you can see in the following code:
[code]
So you can use the `._classes` to get it as shown in this [example notebook](https://github.com/uber/causalml/blob/master/examples/meta_learners_with_synthetic_data_multiple_treatment.ipynb

[2021-01-06 00:00] saiwing-yeung commented on #235
Awesome, thank you for the info!

[2021-01-07 11:15] Julia0207 commented on #230
Thank you very much!

[2021-01-07 11:29] Julia0207 opened #278 "More digits in tree visualization prediction possible?"
Hi,

we work with the tree visualization of causalml. We train the uplift tree by **UpliftTreeClassifier()**, fit it using **uplift_model.fit()** and visualize the uplift tree by **uplift_tree_plot()**.
Is it possible to have more digits in the mean prediction of the treatment group (control group) within the visualization ?

Thanks and kind-regards,
Julia

[2021-01-08 00:58] saiwing-yeung commented on #227
I noticed something similar but I am not sure if I should open a new issue. In `predict()@UpliftTreeClassifier` the docstring says

[code]

But it returns

[code]

[2021-01-08 02:59] paullo0106 commented on #278
Thanks for reaching out, Julia. Did you mean to increase the second decimal place for mean treatment and control displayed on the leaf nodes?

![image](https://user-images.githubusercontent.com/4966393/103969189-3f6c6500-511a-11eb-8a99-eaaf36de8cc1.png)

[2021-01-08 07:17] Julia0207 commented on #278
Yes, that is what I mean. :-)

[2021-01-08 21:03] shaddyab opened #279 "Using Gain and Qini for cross validation"
I have a question regarding the [meta_learners_with_synthetic_data] example (https://github.com/uber/causalml/blob/master/examples/meta_learners_with_synthetic_data.ipynb).

When tuning the meta-learners via cross validation,
1. should the cum gain or qini auuc be used as the metric to select the appropriate hyperparameters or should other regression metrics be used?
2. In the case of gain/qini sh

[2021-01-08 22:19] ppstacy commented on #227
Thanks @saiwing-yeung for reporting this! I think we can just reopen this issue. Do you want to submit a pull request to fix the docstring?

[2021-01-13 10:31] surajiyer opened #280 "Add smoothing factor to feature_selection/filters.py/_GetNodeSummary()"
We get a KeyError issue in feature_selection/filters.py L197-203 when certain (treatment, y_label) combinations do not occur naturally in the dataset, e.g., if we never see label=1 for "treatment1".

**Proposed change**
We can smooth label counts per treatment in _GetNodeSummary() by adding 1 for (treatment, label) combinations that do not occur naturally in the data. I have made a draft PR here:

[2021-01-13 12:09] CDonnerer opened #282 "Import error: `sklearn.utils.testing` deprecated in `scikit-learn==24.0`"
The most recent version of sklearn, `scitkit-learn==24.0` has removed the `sklearn.utils.testing` module.

This raises a ModuleNotFound error in:
- `causalml.inference.tree.models.py`
- `causalml.inference.meta.tlearner.py`

which try to `from sklearn.utils.testing import ignore_warnings`

Note that in general these utils can now be imported from the root `sklearn.utils`, but the function `import_

[2021-01-13 15:55] elbarla commented on #282
Thanks for opening the issue @CDonnerer, I've just had the same bug when I first installed causalml.

[2021-01-13 21:29] #282 closed

[2021-01-18 10:33] Julia0207 opened #284 "Question: Calcluation of uplift score"
Hi,
how is the calculation for the uplift score? I thought that the uplfit score is equal to the CATE, but our visualized tree showed some cases where the predicted probability for Y=1 under the treatment group minus the predicted probabilty for Y=1 under the control group is not equal to the uplift score.
Thank you very much for your help!
Best regards,
Julia

[2021-01-18 19:28] hanan-vian opened #285 "ModuleNotFoundError: No module named 'sklearn.utils.testing'"
**Describe the bug**
`from causalml import metrics` causes `ModuleNotFoundError: No module named 'sklearn.utils.testing'`

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following informatio

[2021-01-18 19:37] jeongyoonlee commented on #285
Thanks for filling the issue. It was addressed in #283, and will be available in the next PyPI release.

Meanwhile, you can either use scikit-learn==0.23 with causalml==0.9 or install causalml from the repo.

Best,

[2021-01-18 19:38] hanan-vian commented on #285
thanks. p.s. have you seen this ? "cannot import name 'getargspec_no_self' from 'scipy._lib._util'"

[2021-01-20 01:10] paullo0106 commented on #284
Thanks for reaching out, Julia. It might be related to the `n_reg` regularization parameter in [`tree_node_summary()`](https://github.com/uber/causalml/blob/master/causalml/inference/tree/models.py#L820) function which is responsible for the underlying calculations. Let me know if this can explain the gap you spotted

[2021-01-20 01:11] paullo0106 commented on #280
This was fixed in PR #281

[2021-01-20 01:11] #280 closed

[2021-01-20 17:40] #285 closed

[2021-01-20 17:41] daheelee commented on #285
Could you please open a separate issue for the second question?

[2021-01-20 22:59] Chengyingsjtu commented on #263
@ppstacy Can you create tree visualization for causal tree models like uplift tree models? Thanks!

[2021-01-21 19:31] jeongyoonlee opened #286 "Travis CI Build Failure"
**Describe the bug**
Travis CI build is failing: https://travis-ci.com/github/uber/causalml/builds/213726951

**To Reproduce**
Steps to reproduce the behavior: Start rebuilding.

**Expected behavior**
Completed without an error

**Screenshots**

**Environment (please complete the following information):**
 - OS: [e.g. macOS, Windows, Ubuntu]
 - Python Version: [e.g. 3.6, 3.7]
 - Versions of Major

[2021-01-21 19:43] jeongyoonlee commented on #286
Hi @paullo0106, last merge's build is failing. Could you please look into this?

[2021-01-21 19:55] ppstacy commented on #286
Hi @jeongyoonlee and @paullo0106, I had this issue before when helping other people install causalml. It probably due to the newest version of `shap`. After I downgrade it to a lower version it can work

[2021-01-22 02:34] #286 closed

[2021-01-22 03:08] paullo0106 commented on #278
@Julia0207

The decimal point can be changed in `uplift_tree_plot()` function [here](https://github.com/uber/causalml/blob/master/causalml/inference/tree/plot.py#L84), for example, `lsY.append('%s:%.3f' % (szX, n))` would give us numbers to 3 decimal places, as shown in the attached. We can add an optional parameter in the function according to different user preferences.

Out of curiosity, Are yo

[2021-01-25 20:24] knail1 opened #288 "install issues"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
I followed your instructions
1. git clone (you need to add this in your top readme)
2. pip install -r requirements...

during the install

ERROR: tensorflow 2.4.1 has requirement h5py~=2.10.0, but you'll have h5py 3.1.0 which is incompatible.
ERROR: tensorflow 2.4.1 has requirement numpy~=1.19.2, but you'll have numpy 1.18.5 w

[2021-01-25 20:31] ppstacy commented on #288
Hi @knail1 thanks for reporting this. I believe even with ERROR message from tensorflow we should be able to install `Causalml` right? Let me know if you have any other issues with installing. Thanks!

[2021-01-25 20:32] knail1 commented on #288
yes, i think so though I did update my requirements.txt to be strict to match the 2 versions in your error.

[2021-01-25 20:32] knail1 commented on #288
let me add that after fixing the above error, if you try to start any notebook, you get errors.
this is also an install issue with libomp, that you should document in your top level readme

example while using your notebook here"
http://localhost:8889/notebooks/examples/uplift_tree_visualization.ipynb

from causalml.dataset import make_uplift_classification
from causalml.inference.tree import Upli

[2021-01-25 20:42] knail1 commented on #288
once you fix the above, you run into another error!

you are allowing scikit learn versions which cause this error

from your requirements:
scikit-learn>=0.22.0

from scikit learn [documentation](https://scikit-learn.org/stable/auto_examples/preprocessing/plot_discretization_classification.html): the library was renamed from
sklearn.utils.testing
to
sklearn.utils._testing

------------------------

[2021-01-25 20:45] knail1 commented on #288
I had to update these two files and change to: **sklearn.utils._testing**
and then the notebooks worked
vi ~/Documents/marketing/src/causalml/venv/lib/python3.7/site-packages/causalml/inference/tree/models.py
i ~/Documents/marketing/src/causalml/venv/lib/python3.7/site-packages/causalml/inference/meta/tlearner.py

[2021-01-25 22:29] jeongyoonlee commented on #288
The issue with the `scikit-learn==0.24` API update was addressed in #283, and will be shipped in the next release.

[2021-01-25 23:08] knail1 commented on #288
thank you. will you be updating your readme with additional instructions to avoid the install errors?

if so, i'll close this defect out. thanks for prompt response

[2021-01-26 00:40] ppstacy opened #289 "Propensity Score Matching on Multiple Columns"
Hi team,

@ruyiding is playing with our package and has the question for propensity score matching which I don't have a good answer for her, so want to ask in the larger group here.

Based on the reference in our match.py: [An Introduction to Propensity Score Methods for Reducing the Effects of Confounding in Observational Studies](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3144483/#s11title). I

[2021-01-26 03:17] AlexYoung757 commented on #288
does it only support tf 2.x？

[2021-01-26 09:54] Thomas9292 opened #290 "Added validation methods"
Even though there are several ways of validating results (of metalearners) described in the documentation, it's still complicated to estimate how trustworthy the results are.

My question is, would it be possible to perform some sort of hold out validation for the outcome variable. Since, intuitively, metalearners come to a treatment effect estimate by predicting the outcome for both treatment opt

[2021-01-26 18:19] ppstacy commented on #290
Hi @Thomas9292 thanks for using `CausalML`. I think it definitely makes sense to do the validation. To serve this purpose in our example notebook for meta-learner[ here ](https://github.com/uber/causalml/blob/master/examples/meta_learners_with_synthetic_data.ipynb) Part-B, we did the validation and model performance comparison on a 20% hold-out dataset for different evaluation metrics (e.g., MSE,

[2021-02-01 18:42] jeongyoonlee opened #293 "Docker images with the working environment for causalml"
**Is your feature request related to a problem? Please describe.**
Users often face installation issues mostly due to the conflict in dependency requirements from different libraries including `tensorflow`, `Cython`, `shap`, etc.

**Describe the solution you'd like**
By providing a docker image and a `Dockerfile`, users will have an option to run `causalml` within the docker container without worr

[2021-02-01 18:46] jeongyoonlee opened #294 "Refactoring meta learners"
**Is your feature request related to a problem? Please describe.**
Currently there are duplicated code across meta-learners for bootstrapping, SHAP modeling/visualization, etc.

**Describe the solution you'd like**
It'd be better to define a base meta-learner class with such functions so that other meta-learner classes can inherit from it.

**Describe alternatives you've considered**

**Additional

[2021-02-02 17:14] #294 closed

[2021-02-02 18:19] soodimilanlouei opened #296 "Exporting the gain plots"
**Is your feature request related to a problem? Please describe.**
The output of `plot_gain` function is not exportable.
**Describe the solution you'd like**
In `causalml.metrics.visualize` the `plot` function can be easily modified in a way that it returns a matplotlib object. This could also be an argument where one can specify whether they want to save the plot.

[2021-02-03 00:33] jeongyoonlee commented on #293
I found that a clean installation in a `conda` environment works fine. We may just recommend using the `conda` virtual environment in README.md.

[2021-02-03 00:33] #293 closed

[2021-02-03 00:38] jeongyoonlee commented on #288
@knail1 At the time of new release, you should be able to install `causalml` by using `pip install causalml` in a clean environment. We may update README.md to recommend a clean `conda` environment in case of any installation issues.

@AlexYoung757 The only code that depends on `tensorflow` is `inference.nn.DragonNet`, which uses `keras` API. Therefore, I guess it would work fine with `tensorflow

[2021-02-03 15:10] #296 closed

[2021-02-03 15:10] soodimilanlouei commented on #296
Apparently, doing `plt.savefig` after the `plot_gain` works fine.

[2021-02-09 09:36] baendigreydo commented on #290
Hi all, thank you for sharing the CausalML package!
I am a complete beginner to coding, trying to finish my thesis, excusing already for a noob question.:
Regarding this Part-B of the example notebook. How am I able to calculate these summary metrics (Abs % Error of ATE | MSE | KL Divergence) for non-synthetic data (e.g. Hillstrom Data). I got lost at this point, unfortunately.
Plus, is there any

[2021-02-10 19:11] lleiou opened #298 "Uplift Model Prediction Returns The Exact Same Result for All Rows in Test Set"
**Describe the bug**
Hello, I'm building an uplift tree model using `UpliftRandomForestClassifier` following [uplift_trees_with_synthetic_data.ipynb](https://github.com/uber/causalml/blob/master/examples/uplift_trees_with_synthetic_data.ipynb). The data has 3 features and has 2 treatments and 1 control, the data is pretty imbalanced (less than 0.2% positive). The issue that I am experiencing right

[2021-02-10 20:41] patriciowoodley opened #299 "Sensitivity Analysis for Multiple Treatments"
Hello,

First of all, thank you for such a wonderful library.

I am trying to use Uplift modeling in an A/B testing and I want to validate it.

I have read this notebook about sensitivity analysis but it only takes into account when you have one treatment

https://github.com/uber/causalml/blob/master/examples/sensitivity_example_with_synthetic_data.ipynb

Is it possible to do it for multiple treat

[2021-02-10 20:51] ppstacy commented on #299
Hi @patriciowoodley thanks for using CasualML!

Currently, the sensitivity analysis code itself only supports the single treatment use case.  But I do think you can run this iteratively for different treatments which means you need to generate the data frame for every treatment and control following the below input. We will have `df1` (treatment A + control), `df2` (treatment B + control) etc., th

[2021-02-10 21:01] patriciowoodley commented on #299
Awesome. That was one alternative but I wanted to be sure that it makes sense.

I will give it a try

Thanks for your quick reply!

[2021-02-10 21:37] ppstacy commented on #290
Hi @baendigreydo, to calculate those metrics for non-synthetic data unfortunately we don't have the functions now to let you directly use them, but you can reference the [code](https://github.com/uber/causalml/blob/master/causalml/dataset/synthetic.py#L329-L373) here to generate yourself.

As shown in this [notebook](https://github.com/uber/causalml/blob/master/examples/uplift_trees_with_synthetic

[2021-02-10 23:24] #298 closed

[2021-02-10 23:27] lleiou commented on #298
Reading data from `.parquet` files using pandas caused feature columns to be in the wrong data type. After converting features back to `float64` type, the model predictions will not be exactly the same again.

[2021-02-11 11:20] Thomas9292 commented on #290
Hi @baendigreydo, let me illustrate to you what I did for reference. Also really curious to hear from @ppstacy if this is the way you think it could be implemented/should be done. The problem is that for the non-synthetic data, only the observed treatment is known. So I did some masking to only compare the treatment for those values.

[code]

[2021-02-15 12:08] jroessler opened #300 "Adding another tree-based approach: The delta-delta-p criterium"
**Is your feature request related to a problem? Please describe.**
All of your tree-based uplift approaches are based on either the work by Rzepakowski and Jaroszewicz (2012) or the work by Zhao et al. (2017). Yet, there is another tree-based approach which was introduced by Hansotia & Rukstales in 2002. The authors used a so called delta-delta-p criterium for splitting and training the tree. In s

[2021-02-15 13:23] baendigreydo commented on #290
Thanks for your answers.
I was able to generate the plots for the meta learners and Trees easily.

I also looked into the solution proposed by you @Thomas9292.
I think this is a usable workaround method but the I think there is a logical fault when validation the meta-learner accuracy: to calculate summary tables like shown in this [notebook Part B](https://github.com/uber/causalml/blob/master/exa

[2021-02-18 17:39] mathigatti opened #301 "Add return_ci to learner.predict method"
Hi, would it be possible to get confidence intervals from a learner predict method?

Something like this
[code]

[2021-02-19 08:05] baendigreydo opened #302 "Same results for T-Learner (LR) and X-Learner (LR)"
I reproduced your [notebook](https://github.com/uber/causalml/blob/master/examples/meta_learners_with_synthetic_data.ipynb) here, esp. part B for validation. My results as well as your result is that the T-Learner (LR) and X-Learner (LR) have the same results and I highly doubt this to be correct. From the methodological standpoint, they are not the same (obviously).

When looking at the train_sum

[2021-02-20 09:19] baendigreydo opened #304 "return_components for R-Learner"
I wanted to receive to components of the CATE prediction via R-Learner. Unfortunately, it is not possible to retrieve this information because it is not defined [here](https://github.com/uber/causalml/blob/master/causalml/inference/meta/rlearner.py#L122-L137). I tried to solve it on my own but I was not successful because it is unclear which "predict"-function is used in Line 134 - `dhat = self.mo

[2021-02-22 15:27] vmoulds01 opened #305 "Casualml pickle object failing to load ValueError: numpy.ndarray size changed"
Hi,

We have just recently seen our code failing due to the error message noted below:

build	22-Feb-2021 10:15:19	.tox/py37/lib/python3.7/site-packages/causalml/inference/tree/__init__.py:3: in <module>
build	22-Feb-2021 10:15:19	    from  .causaltree import CausalMSE, CausalTreeRegressor
build	22-Feb-2021 10:15:19	__init__.pxd:242: in init causalml.inference.tree.causaltree
build	22-Feb-2021 10:

[2021-02-22 18:01] TapdancingRodent commented on #305
I have seen the same error trying to import CausalMSE / CausalTreeRegressor on CI in python 3.7 (installed through pip)

numpy: 1.18.5
scipy: 1.4.1
pandas: 1.0.5
scikit-learn: 0.23.2
cython: 0.29.22
tensorflow: 2.3.2

[2021-02-22 18:28] TapdancingRodent commented on #305
I played around with a new conda environment (python 3.7.4) with various combinations of the following libraries and never saw this error

numpy: 1.16.2/1.18.5
scipy: 1.4.1
pandas: 1.0.0/1.0.5
scikit-learn: 0.22.2.post1
cython: 0.29.21
tensorflow: 2.3.1/2.3.2

[2021-02-22 18:34] TapdancingRodent commented on #305
I was also unable to replicate this error in a new python 3.8 conda environment with the below combinations of libraries.

numpy: 1.18.5
scipy: 1.4.1
pandas: 1.2.2
scikit-learn: 0.23.2
cython: 0.29.22
tensorflow: 2.3.2

[2021-02-22 19:53] vmoulds01 commented on #305
Ok thanks for looking into this.

I don't know if it helps but we were using python 3.7.3 and the dependencies were being installed by pip.

We were hitting the issue when trying to run our unit tests via Tox which should have been creating a clean 3.7.3 environment with all the correct dependencies.  However, we were able to get around the issue by using poetry to create the environment instead a

[2021-02-23 15:04] maccam912 commented on #305
I'm suspicious of https://github.com/uber/causalml/blob/master/setup.py#L12 where it will get numpy if the machine doesn't have it as part of setup.py, but without a version being specified. Cython is also not set to a version in setup.py like it is in requirements.txt. I'm having trouble building from source on my machine so I can't quite confirm it, I'll keep working on it. If I can get it worki

[2021-02-23 16:49] maccam912 commented on #305
To update this issue as well, in our environment this was solved by restricting the versions in setup.py to match what is in requirements.txt. After reading about the error with size changing, it seems like a newer numpy created some object that an older numpy (<1.19) tried to load. I'm guessing some object was created during the run of setup.py, which grabbed the latest numpy instead of <1.19, an

[2021-03-01 19:58] soodimilanlouei opened #307 "Bin-based Filters for Variable Selection"
My understanding is that bin-based methods for variable selection only work on continuous variables. Is that right?
When I run these methods on my data - which includes both continuous and binary variables -, the score for binary variables is always zero.

[2021-03-01 21:54] troyshu opened #308 "Getting installation errors at numpy: ModuleNotFoundError: No module named 'numpy', RuntimeError: Python version >= 3.7 required."
**Describe the bug**
I get numpy-related errors when installing causalml with pip (`pip install causalml`), first in the stack trace (see screenshot) is a `ModuleNotFoundError: No module named 'numpy'` , then later there's a `RuntimeError: Python version >= 3.7 required.` in file `/var/folders/bm/lzyzg02n2vn5s_clvbqh826h0000gp/T/easy_install-cdnmlmyn/numpy-1.20.1/setup.py`.

Is Python 3.6. no long

[2021-03-01 21:58] ppstacy commented on #308
I am currently using python 3.6 and don't have any issues. Do you mind install dependencies first by `pip install -r requirements.txt`?

[2021-03-01 22:15] troyshu commented on #308
Ok yeah, installing the dependencies first resolved the error, I missed that. As a test I actually just did `pip install numpy==1.18.0` (to satisfy the numpy dependency version range in [requirements.txt](https://github.com/uber/causalml/blob/master/requirements.txt#L3)) because the error message had to do with numpy, and that worked too.

I'm a Python package newb, but why is installing the depen

[2021-03-01 22:56] ppstacy commented on #308
Cool, glad that you are able to solve it. So I will close this issue.

For the setup.py questions, I found some discussion [here](https://stackoverflow.com/questions/14399534/reference-requirements-txt-for-the-install-requires-kwarg-in-setuptools-setup-py) that might be helpful:

[2021-03-01 22:56] #308 closed

[2021-03-02 15:02] troyshu commented on #308
Hi @ppstacy, thank you for that discussion, helpful.

I know that there may be constraints to developing `causalml` that I as a package user am not aware of, but just wanted to reiterate my point that I think that the current installation process (for package _users_ not package developers) is a bit cumbersome. If I'm on Python 3.6, running `pip install causalml` should just work, especially in an

[2021-03-02 18:47] CaptainFan opened #310 "Problem about Learner"
Hi,

I am new to the causal machine learning area and it is exciting to see excellent work you have done. I try to learn the use of causalml package and I have a problem related to meta-learner part.

Does the implementation of X-learner automatically adjust for confounders? It seems that it does but I have not found details.

As I understand it, for example, the Athey's causalTree package require

[2021-03-04 01:54] manojbalaji1 commented on #307
I think this also depends how 1's and 0's are distributed

[2021-03-04 16:01] t-tte commented on #310
Hello

Thanks for the question. The answer depends on what you mean by "automatic adjustment". On the one hand, if you have already selected the [right controls](https://ftp.cs.ucla.edu/pub/stat_ser/r493.pdf), then in principle you could use those features directly in the relevant learner. In practice, many people do matching first and try to learn treatment effect heterogeneity in the matched sam

[2021-03-08 04:51] CaptainFan commented on #310
Thank you so much for you reply! Really appreciate that you were willing to take out time to answer my question.

To avoid throwing non-matched samples away, I pre-process the data by weighting the sample using propensity score calculated on X(all the covariants) to create a pseudo population and pass that to the meta-Learner. Is this a better choice to use meta-learener for ATE or CATE estimation

[2021-03-15 04:25] t-tte commented on #310
It's my pleasure! First, if you have correctly weighted the population, then it's not clear to me why you would want to use a meta-learner to estimate the ATE. You can estimate it using a standard method such as [weighted regression](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4626409/).

Second, I can't see why it would be helpful to create a synthetic population and estimate CATEs in that popul

[2021-03-16 10:19] gibranhasan14 opened #312 "Multiple Simultaneous Treatments"
Hi,

I was going through the cf value optimization example and wanted to know if its possible to estimate the CATE using any of the meta-learner algorithms for observational data where there are multiple treatments with the additivity assumption, i.e. instances where an individual is exposed to multiple ad campaigns? Would it make sense to use the CounterfactualValueEstimator class on repeated ins

[2021-03-16 18:51] soodimilanlouei opened #313 "R-Learner raises AttributeError."
I have a binary outcome and I am able to fit all meta-learners, except the R-Learner.

The code that I'm running:

`rlearner = BaseRClassifier(outcome_learner = RandomForestClassifier(), effect_learner  = RandomForestRegressor(),
    control_name='control')`

It raises this error:

`AttributeError: 'RandomForestClassifier' object has no attribute 'estimators_'`

I am using causalml package version

[2021-03-17 16:57] #310 closed

[2021-03-17 17:07] #289 closed

[2021-03-17 17:15] ppstacy opened #314 "CausalML 0.10.1 Release"
To capture the updates in #306

[2021-03-17 23:54] paullo0106 commented on #302
@huigangchen might be able to provide some intuition why this might happen

[2021-03-19 16:15] AlxndrMlk opened #315 "Error while installing `causalml` @ Windows 10"
**Describe the bug**
I am trying to install `causalml` on Windows 10. I get the following error:

[code]

**To Reproduce**
I started with a `python=3.8` conda environment and installed `pip install tensorflow==2.3` before `pip install causalml`
I tried other versions of Python as well (3.6.5, 3.7)

**Environment (please complete the following information):**
 - OS: Windows 10
 - Python Version: [3

[2021-03-19 23:50] paullo0106 commented on #313
@soodimilanlouei Do you mind sharing more code? Not sure that line alone would give the error as it only initialize few models. `RandomForestClassifier` object should have `estimators_ ` attribute once it's trained, but it's not used during object initialization.

![causalml_debug](https://user-images.githubusercontent.com/4966393/111852146-237fff00-88d3-11eb-9aa2-806e93a33342.png)

[2021-03-20 00:20] paullo0106 commented on #313
![Screen Shot 2021-03-19 at 5 19 38 PM](https://user-images.githubusercontent.com/4966393/111853223-50361580-88d7-11eb-8061-715b13e58c7b.png)

[2021-03-22 14:30] CaptainFan commented on #310
Thank you for your reply!
Here is the reason why I pre-process the data by weighting the sample using propensity score calculated on X(all the covariants) to create a pseudo population.
According to (Künzel, S. R., Sekhon, J. S., Bickel, P. J., & Yu, B. (2019). Metalearners for estimating heterogeneous treatment effects using machine learning. Proceedings of the national academy of sciences, 116(1

[2021-03-22 14:52] t-tte commented on #310
Thank you, those are useful references.

Coincidentally, there is a [brand new paper](https://www.aaai.org/AAAI21Papers/AAAI-8987.JungY.pdf) that tackles the problem head on. I haven't had time to review it yet but suspect it'll be worth implementing in Causal ML.

[2021-03-22 15:04] t-tte commented on #307
It's correct that the current implementation only works for continuous features because the method requires splitting the features into n_bins quantiles, which doesn't make sense for binary features. However, I think @zhenyuz0500 had ideas for extending the method to deal with categorical features.

[2021-03-22 15:07] t-tte commented on #300
This sounds good! Feel free to submit the PR.

[2021-03-23 12:34] pederpansen opened #318 "Question: Counterfactual value estimation vs. Regression with meta learners"
Hi,

we are in the process of creating personalized promotion campaigns, i.e. displaying vouchers to certain customers visiting our online shop.

I stumbled upon the [Counterfactual value estimation notebook](https://github.com/uber/causalml/blob/master/examples/counterfactual_value_optimization.ipynb), which seems to solve a very similar case (having promotion costs associated with each conversio

[2021-03-23 13:50] CaptainFan commented on #310
Thank you so much for your help!

[2021-03-23 14:54] shaddyab opened #319 "FilterSelect for regression problems"
**Problem
The current filter methods in FilterSelect are limited to classification problem where the outcome variable is categorical (The only exception is the F filter which is also appropriate for regression problems).

**Solution:
Generalize the filters to uplift modeling regression problems

[2021-03-24 03:52] t-tte commented on #318
Hello

That’s a great question. The benefit of the counterfactual approach is that it considers what would happen under alternative treatment conditions. For example, whether or not it’s worth targeting someone with a given predicted lift under the treatment condition depends not only on the predicted lift and the associated costs but also on what the conversion probability of that individual woul

[2021-03-24 13:31] pederpansen commented on #318
Thank you for your explanation and the paper reference. (I am quite new to the causal inference theory and find the counterfactual logic notation hard to digest, but that will hopefully change after reading Peal's "Causal Inference in Statistics" primer book.)

To illustrate my current understanding with a simple conversion (classification) example: Suppose we know the true conversion probabilitie

[2021-03-25 10:54] pederpansen commented on #318
Sorry for the text wall, but here comes yet another question: Suppose I want to operationalize the counterfactual value estimator. For that, I would train an uplift model (for CATE) and a classification model (for conversion probabilities) on offline data.

However, at the moment of prediction on unseen data, the model also needs the treatment, conversion values/costs and impression costs. I could

[2021-03-29 08:58] GiuliaMassimetti commented on #313
Hello, I am experiencing the same problem. In my case, it is coming from these lines in the initialization of `BaseRLearner`:
[code]
If an `outcome_learner` is specified, then `if outcome_learner` checks the length of `estimators_` and therefore it raises an error:
[code]
It could be that the issue is related to the version of scikit-learn that I'm using (0.24.1), but I'm not sure.

Maybe this cou

[2021-04-13 02:27] paullo0106 commented on #313
Good catch, thanks @GiuliaMassimetti !  My testing environment was few commits behind so didn't detect this properly.
#320 is to address this issue

[2021-04-13 18:17] #313 closed

[2021-04-17 00:51] ibraaaa opened #321 "Installation Issue: Cython compilation fails"
**Describe the bug**
Error while compiling the cython file, see error details below.

FutureWarning: Cython directive 'language_level' not set, using 2 for now (Py2). This will change in a later release! File: /tmp/.../causalml/inference/tree/causaltree.pyx
  tree = Parsing.p_module(s, pxd, full_module_name)

Error compiling Cython file:
------------------------------------------------------------

[2021-04-18 08:50] iSawyer opened #322 "uplift_trees_with_synthetic_data demo error"
can not run
uplift_model.fit(df_train[x_names].values,
                 treatment=df_train['treatment_group_key'].values,
                 y=df_train['conversion'].values)

![image](https://user-images.githubusercontent.com/6329581/115139740-27d04100-a066-11eb-893f-f09affde5fda.png)

[2021-04-19 06:01] paullo0106 commented on #322
Thanks for reaching out, @iSawyer . Can you share more code including how you initiate `UpliftRandomForestClassifier()`? I'm curious because `evaluationFunction(currentNodeSummary, control_name=self.control_name)` is not supposed to be invoked  when evaluationFunction is CTS, according to the [code here](https://github.com/uber/causalml/blob/master/causalml/inference/tree/models.py#L897)

[2021-04-19 06:46] iSawyer commented on #322
execute demo code step by step

import numpy as np
import pandas as pd
from causalml.dataset import make_uplift_classification
from causalml.inference.tree import UpliftRandomForestClassifier
from causalml.metrics import plot_gain
from sklearn.model_selection import train_test_split

df, x_names = make_uplift_classification()
df.head(50)
  # Look at the conversion rate and sample size in each grou

[2021-04-19 21:46] paullo0106 commented on #322
hmm...I can't reproduce the error, as shown in the attached. Is your version 0.10.0? Do you mind trying if you will still be getting some errors when explicitly specifying `evaluationFunction` as `KL`, `ED`, or `Chi`  ? `uplift_model = UpliftRandomForestClassifier(control_name='control', evaluationFunction='KL')`

<img width="794" alt="uplift_issue322" src="https://user-images.githubusercontent.co

[2021-04-20 13:02] iSawyer commented on #322
my version is 0.10.0
it works when specifying evaluationFunction like this
`uplift_model = UpliftRandomForestClassifier(control_name='control',evaluationFunction='KL')
`

[2021-04-22 22:36] robotenique opened #323 "T-Learner vs S-Learner"
Hi, I have a newbie question.

When would we prefer to use T-Learner instead of an S-Learner to estimate the CATE?
I'm thinking in the scenario of randomized experiment (given some confounders which we know of).

I read somewhere that S-learners might perform poorly if we use a linear model, but since we can use something like a tree or gradient boosting, what are the real advantages of using a T-

[2021-04-23 01:14] jeongyoonlee commented on #321
Thanks for submitting the issue.

On Linux and macOS, we tested the package installation in the clean `conda` environment with Python 3.6, 3.7, and 3.8.

At the moment, we don't officially support Python 3.9.2 because some of our dependencies (e.g. `tensorflow`) doesn't support it yet. Therefore, I recommend using Python 3.6-3.8 until all the dependencies support Python 3.9.

Thanks.
Jeong

[2021-04-23 18:12] jeongyoonlee commented on #288
The fix was released in v0.10.0 on 2/19/2021. I will close this issue.

[2021-04-23 18:12] #288 closed

[2021-04-23 21:15] jeongyoonlee commented on #321
With #324, `conda` environment files for Python 3.6, 3.7 and 3.8 are available in [`envs`](https://github.com/uber/causalml/tree/master/envs). You can create a `conda` environment with `causalml` as follows:
[code]

[2021-04-23 21:18] jeongyoonlee commented on #315
Thanks for reporting this issue, @AlxndrMlk. I personally don't have access to Windows environment. Could you please try the `conda` environment in [`envs/`](https://github.com/uber/causalml/tree/master/envs) as follows?
[code]
Please let me know if it works.

[2021-04-24 00:58] ibraaaa commented on #321
Thanks @jeongyoonlee. The pip and conda solutions work, however, both really download the pre-built object files for the problematic cython [file](https://github.com/uber/causalml/blob/master/causalml/inference/tree/causaltree.pyx). For my deployment scenario, I can't rely on pre-built object files and I need to build from the source file. Following the [instructions](https://github.com/uber/causa

[2021-04-24 01:50] jeongyoonlee commented on #321
What you can do is as follows:

1.  download one of the environment files from `envs/`,
2. remove the last line for `causalml=0.10.0`,
3. setup the environment on the build system with it,
4. then build `causalml` from source.

Environment files list one of working combinations of dependencies similar to `requirements.txt`.

Unfortunately, it's not ideal to specify all the versions of dependencies

[2021-04-24 16:54] AlxndrMlk commented on #315
Thanks @jeongyoonlee! It works! 🎉

For some reason it took a very long time to install `pip` dependencies, but after it finished I was able to import the lib and print the version (`0.10.0`)

[2021-04-24 16:54] #315 closed

[2021-04-24 17:25] jeongyoonlee commented on #315
Glad that it worked! Have a good weekend. :)

[2021-04-24 18:04] t-tte commented on #318
Thanks for the interesting comments. You're making a very good point about the uplift curve. In principle, if you have two treatments and perform a very careful analysis of the uplift curve, you might be able to distinguish the compliers from the rest. In practice, and if you have multiple treatment groups, it might be difficult to do this. As regards the prediction on unseen data, I agree with wh

[2021-04-24 18:06] t-tte commented on #319
We're eventually planning to do this but there is no exact timeframe at this point.

cc @zhenyuz0500

[2021-04-24 18:06] #319 closed

[2021-04-25 07:04] AlxndrMlk commented on #315
Thanks! Have a good one! :)

[2021-04-25 18:12] jeongyoonlee commented on #245
You can follow [Saito and Yasui (2020) "Counterfactual Cross-Validation"  ICML](http://proceedings.mlr.press/v119/saito20a.html).

[2021-04-28 21:55] ibraaaa commented on #321
Thanks @jeongyoonlee. I figured out what was missing.

The setup.py is missing a dependency on scikit-learn. It rightly [depends on cython and numpy](https://github.com/uber/causalml/blob/9e1f36933bc89c9af5f8e67417a99796e631aa87/setup.py#L49) but misses out scikit-learn. scikit-learn is needed because causaltree.pyx [depends on sklearn](https://github.com/uber/causalml/blob/9e1f36933bc89c9af5f8e67

[2021-04-29 00:36] lmidatascience opened #326 "Resolving dependency with pipenv"
Resolving dependency failure with pipenv for both 0.9.0 and 0.10.0 releases.

[pipenv.exceptions.ResolutionFailure]: Warning: Your dependencies could not be resolved. You likely have a mismatch in your sub-dependencies.
  First try clearing your dependency cache with $ pipenv lock --clear, then try the original command again.
 Alternatively, you can use $ pipenv install --skip-lock to bypass this

[2021-04-29 16:39] jeongyoonlee commented on #326
Unfortunately there are conflicts in version requirements across many dependencies, and it's hard to resolve.

To create working environments, we recommend using the `conda` environments files provided in the [`envs/`](https://github.com/uber/causalml/tree/master/envs) folder.

[2021-04-29 16:40] #321 closed

[2021-05-03 11:50] jroessler commented on #300
@t-tte: Sorry for my late response!

I forgot to mention that the DDP approach works only for binary cases in which customers receive either a treatment or not. I guess it is still relevant but I'll mention it in the documents and I'll probably add a warning if the user wants to apply the DDP approach on a dataset with multiple treatments.

[2021-05-03 14:44] jroessler commented on #323
Hi @robotenique

You might find some ideas in the paper by Künzel et al. (2019): Meta-learners for Estimating Heterogeneous Treatment Effects using Machine Learning.

The authors argue that

1) the S-Learner can perform poorly if the base algorithm is lasso or random forest/decision tree because both algorithms can ignore the treatment variable. On the other side this can also be beneficial if the

[2021-05-05 11:18] robotenique commented on #323
Makes sense. I was reading this blogpost here: https://doordash.engineering/2020/09/18/causal-modeling-to-get-more-value-from-flat-experiment-results/
And they argue this:

The S-learner is generally a good choice when the average treatment effect is large, the data set is small and the interpretability of the result is important.

vs

Which I found really interesting, but didn't understood the th

[2021-05-05 20:23] BenjaminVermeulen opened #328 "Installation"
Hello,
i just started with CausalML and I am currently installing the package. Unfortunately, I came across an installation error when installing the CausalML package via pip install in jupyter notebook on my Mac. After pip installing the package, I import the libraries from the documentation examples (from causalml.inference.meta import BaseXRegressor). Then I get the following error:

""OSError:

[2021-05-05 21:25] jeongyoonlee commented on #328
The error is from LightGBM, which is one of dependencies of CausalML.

If you're not familiar with it, I recommend that you use `conda` to create a working virtual environment with all dependencies and causalml installed as described [here](https://github.com/uber/causalml#install-using-conda):
[code]

[2021-05-06 00:07] robotenique commented on #323
@jroessler Another thing, do you have any ref. on T-learner and S-learner for continuous treatment?

[2021-05-06 16:04] BenjaminVermeulen commented on #328
Thank you! I appreciate your comment.

I implemented this solution in the (anaconda) terminal. Under the environment section of the anaconda navigator, the causalml-py38 library appears. After opening the jupyter notebook and calling the above mentioned library, the same error message occurs. I also installed brew installed libomp and pip install wheel. The causalML files appear and the installati

[2021-05-08 18:08] paullo0106 commented on #322
@iSawyer hmm...good to know it at least works when you specify the evaluationFunction, I'm trying to verify the problem in a new environment on Google Colab where we can collaborate on. Let me know if you still see this issue when using just `UpliftRandomForestClassifier(control_name='control')`
Link: https://colab.research.google.com/drive/1CReURWnYzT3_vN3k54ioY_sJGhdTS7a3

[2021-05-10 23:11] manhluong commented on #328
@BenjaminVermeulen have you tried to install LightGBM itself? https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#install-using-homebrew

[2021-05-12 10:06] kushmp opened #329 "Issue while creating a bootstrap sample when calculating ATE."
While using the function learner_t.estimate_ate its not converting the dataframe supplied in X,treatment and y into numpy.
You already have a function to convert pd to np and have used it while calculating the CATE, it will be helpful to include the line into ATE estimator as well.

[2021-05-13 09:19] sneakybeaky18 opened #330 "ModuleNotFoundError: No module named 'causalml'"
Hello! When i try to import causalml i get this error:
"ModuleNotFoundError: No module named 'causalml'"

I just go to the noteebok and trying to import this:

"
from IPython.display import Image
from causalml.inference.tree import UpliftTreeClassifier, UpliftRandomForestClassifier
from causalml.inference.tree import uplift_tree_string, uplift_tree_plot
"

Then i got this error.

I dont know what

[2021-05-13 09:21] sneakybeaky18 commented on #330
I will try to install it from notebook, mb it will help me
![image](https://user-images.githubusercontent.com/58666088/118105937-b924a000-b3e5-11eb-9191-0865e083c44d.png)

[2021-05-13 09:53] sneakybeaky18 commented on #330
https://i.imgur.com/ee662RA.jpg its still installing :|

[2021-05-13 10:19] jeongyoonlee commented on #330
It sounds like your Jupyter notebook was not started from the virtual environment you installed `causalml` in.

You can manually add the virtual environment to Jupyter notebook as a "kernel" as follows:
[code]

Then, on your Jupyter notebook (you may need to restart the kernel), you can choose the "Python 3.8 (causalml)" kernel from "Kernel" -> "Change kernel".

Please let me know if it works.

[2021-05-13 11:01] sneakybeaky18 commented on #330
Hello! Thanks for the quick answer :) I try this, but error dissapeared after installion from notebook (it took about are hour): https://i.imgur.com/AtN7P2M.jpg

but btw i got another mistake xD https://i.imgur.com/1sbcPmY.jpeg but i guess it will be so easy to fix now. I hope this thread will help for someone who google same issue

[2021-05-13 11:09] sneakybeaky18 commented on #330
After installing shap i got this error: https://i.imgur.com/0agcLuh.jpeg

[2021-05-13 12:34] sneakybeaky18 commented on #330
After installing last two packages it clearly work now :) https://i.imgur.com/7semFqd.jpg

[2021-05-13 20:01] BenjaminVermeulen opened #331 "Assertion Error"
Hello,

I am replicating the documentation example on Average Treatment Effect as seen here: https://github.com/uber/causalml.

my X is defined as a single column vector (example: [0.1, 0.2, 0.6, 0.9]
treatment is defined as a single column : [0.01, 1.2, 0.9, 0.05]
Y is defined a single column from a df : [2, 1.7, 3.8, 2.2]

lr = LRSRegressor()
te, lb, ub = lr.estimate_ate(X, treatment, y)
print('

[2021-05-16 21:39] paullo0106 commented on #331
@BenjaminVermeulen Thanks for reaching out, like other learners in CausalML, LRSRegressor's [estimate_ate()](https://causalml.readthedocs.io/en/latest/causalml.html#causalml.inference.meta.BaseSLearner) takes `X`, `treatment`, `Y` in format of *np.array*, or *pd.Dataframe* (for `X`) and *pd.Series* (for `treatment` and `Y`). Other than that, `treatment` is supposed to be a list of 0 and 1 where 0

[2021-05-17 12:30] maurever opened #332 "Random uplift score in UpliftRandomForestClassifier and Qini coeficient"
Hi!

I am studying your implementation `UpliftRandomForestClassifier`.

When I am using `plot_qini`, `plot_lift`, or `plot_gain` in the resulting graph, the Random uplift is computed by averaging some random uplift distributions.

I would like to compute Qini coeficient metric, which is:

_Q— the more general qini measure.Although the q0 measure is a useful directanalogue of gini for binary outcom

[2021-05-18 15:35] maurever opened #334 "The `uplift_tree_plot` method can't plot `UpliftTreeClassifier` from `UpliftRandomForestClassifier.uplift_forest`"
I would like to plot `UpliftTreeClassifier` from `UpliftRandomForestClassifier.uplift_forest`, however the method ` uplift_tree_plot`  throws `AttributeError`:

**Reproducible example:**

[code]
**Error log:**

[code]

It works for `UpliftTreeClassifier` fitted separately, so I expected it should work also for `UpliftTreeClassifier` from `UpliftRandomForestClassifier.uplift_forest` as well. Or am

[2021-05-18 15:40] maurever commented on #334
Oh, sorry, my mistake! I need to call:

[code]

Then it works.

[2021-05-18 15:40] #334 closed

[2021-05-23 00:38] t-tte commented on #332
Hi @maurever

Thanks for the question. If the sample size isn't very small, the way in which we calculate random targeting (by generating random CATEs) should correspond to Radcliffe & Surry's approach of drawing the diagonal from zero to ATE. There will be some variation if you're dealing with smaller samples.

[2021-05-24 19:02] jeongyoonlee commented on #329
Thanks for reporting the issue, @kushmp. This issue has been fixed in #333 as proposed. Thanks!

[2021-05-24 19:02] #329 closed

[2021-05-24 19:03] #330 closed

[2021-05-24 21:58] erkutaykutlug opened #338 "RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd"
**Describe the bug**
New installation using conda env file `envs/environment-py38.yml` is giving the following error. Probably from similar causes in the [open issue 305](https://github.com/uber/causalml/issues/305#issue-813604527)

The error goes away when numpy is upgraded to 1.20, but that raises incompatibility warning with tensorflow 2.3.2.

**To Reproduce**
After clean install run `examples/

[2021-05-24 22:15] erkutaykutlug opened #339 "Implement Counterfactual Cross-Validation"
An open issue to track implementation of the counter factual cross validation method mentioned in @jeongyoonlee's [comment](https://github.com/uber/causalml/issues/245#issuecomment-826365714) in the [open issue 245](https://github.com/uber/causalml/issues/245)
ref: [Counterfactual Cross-Validation: Stable Model Selection Procedure for Causal Inference Models by Saito and Yasui, 2020.](http://proce

[2021-05-27 23:58] BrianMiner opened #340 "How Counterfactuals are estimated"
I was hoping to get a better idea of how to construct the counterfactuals E[Y | X,T] where Y is the outcome, X are features and T is the treatment, from the CATE estimates. I wasn't sure I followed the example code description.

If there are 5 treatments A,B,C,D,E and a model, say uplift RF, is built and for any X generates the CATE estimates for B-A, C-A, D-A, E-A (i.e. A is the control treatment

[2021-05-31 06:44] ZyWangUSTC commented on #328
I met this problem too,have you soveled?

[2021-06-01 11:43] evamoosbrugger opened #341 "Qini Score"
Hello,
 I have a question regarding the output of the qini_score function: I expected to receive one float as output as it is written in the description of the function("Returns:  (float): the Qini score"). But I receive two floats as output called “predicted_uplift” and “Random”. So what are these two floats exactly? Can you explain this a little bit further? And do I have to calculate the differ

[2021-06-01 16:59] ppstacy commented on #341
Hi @evamoosbrugger, thanks for rising it here. This function will return two output one for `Random` which is the Qini score for random targeting without any model and one of the model estimates. We will update the function description to make it more clear. Hope this makes sense for you.

[2021-06-02 12:56] manojbalaji1 commented on #341
@ppstacy I tried using that function, I think it returns pandas.DataFrame with model qini, actual and random right?

[2021-06-03 09:01] XiaohanYa opened #342 "How to save an uplift model?"
Hi,

Thank you developing this useful tool!!

I'm a beginner in causal inference and I am curious about how to save an uplift model. I tried pickle but failed. The error message says that "TypeError: can't pickle _thread._local objects". Thus, I'm wondering if there is any other way to save a model. Many thanks.

XH

[2021-06-04 01:29] jeongyoonlee commented on #342
You can use `joblib` to save `causalml` models. `joblib` works better with Python objects with large `numpy` arrays/matrix. Here is an example notebook: https://colab.research.google.com/drive/1ud45oYCLFo6mWLDnK_uKpdQ9M7Oy5b7i?usp=sharing

[2021-06-04 13:07] evamoosbrugger commented on #341
@ppstacy, thanks for your reply! So when I understand you correctly, then the output I get as “predicted_uplift” represents the **ratio** of the area above the diagonal of the actual curve to the corresponding area above the diagonal of the optimum curve (as described in Radcliffe 2007).
Is this correct? Because your description only states “the area between the Qini curves” – so it is unclear if

[2021-06-04 19:48] #342 closed

[2021-06-06 18:12] aborundiya opened #344 "Typo Issue in the def _obj_func_midp(self, data, treatment, outcome) Function"
**Describe the bug**
A clear and concise description of what the bug is.
        pr_y0_w1 : float
            The probability of no conversion **_fiven_** treatment assignment
            (1 - pr_y1_w1).

There is a typo issue , "Fiven" instead of "Given"

**To Reproduce**
Steps to reproduce the behavior:
Click on Source link to see the functional code

**Expected behavior**
A clear and concise de

[2021-06-07 12:53] jeongyoonlee commented on #344
Thanks for filing the issue, @aborundiya. Could you please specify which source code file has the typo? It'd be better if you submit PR directly. Otherwise, I can fix it as well. Thanks!

[2021-06-07 12:58] jeongyoonlee commented on #344
Found it, and submitted PR to fix it.

[2021-06-07 16:29] #344 closed

[2021-06-07 16:33] #338 closed

[2021-06-08 00:25] t-tte commented on #340
Hi @BrianMiner - thanks for the question! In fact, the way in which the control outcome is estimated is by calculating E[Y | X] and then subtracting the predicted CATE from a given learner from it. This is done because it makes it easy to plug the output from our CATE learners in the model. The step is actually redundant for some models (such as the R-Learner) which calculate E[Y | X] as an interm

[2021-06-08 02:43] BrianMiner commented on #340
Hi @t-tte

Sorry not sure I followed.

If we have say an uplift random forest and three treatments (0,1,2) with control =0, we would have the CATE estimates for {0->1} and {0-2} which are the CATE for each treatment relative to the control. I think this is what is estimated by the model correct?

Then how would the estimates for E[X, T=0] and E[X, T=1] and E[X, T=2]?

[2021-06-08 11:12] aborundiya commented on #344
@jeongyoonlee thanks for recommending and will submit PR from next time :)

[2021-06-08 17:40] bponedel opened #348 "Filter methods fail with NaNs in the data"
The filter methods do not work on data containing NaNs, but the error that is generated is not obviously related to this problem. Would be nice to either check for NaNs and error with a good reason or have an option to impute something, maybe a median? Since XGBoost models handle NaNs we typically leave them as is and ran into this problem.

**To Reproduce**
Here is a minimal example:
[code]
The f

[2021-06-09 01:30] bponedel opened #349 "Clarify the limitations (specifically the label) of the current implementation of `filter methods`"
**Problem**
The current implementation of filter methods based on [this work](https://arxiv.org/abs/2005.03447) appears to only support binary labels (at least that is my impression based on [this line](https://github.com/uber/causalml/blob/master/causalml/feature_selection/filters.py#L210)).

**Possible solutions**
Ideally the full method described in the paper could be implemented and maybe even

[2021-06-09 23:13] arkadaw9 opened #350 "Causal ML with tensorflow installation"
Hi,
I have been trying to install the causal ML library with the tensorflow to use the DragonNet. I followed the instructions proved below:
[code]
However, after installation I am unable to access the causalml.inference.tf module.
![image](https://user-images.githubusercontent.com/56458648/121440753-5ddec280-c93d-11eb-9b0a-67476a28af2f.png)

Thanks.

[2021-06-11 05:55] t-tte commented on #340
Hi @BrianMiner

That's right, the CATE learning methods return the uplifts from different treatments relative to control. If a unit is actually in Treatment 2, we estimate the outcome under control for that unit as YHAT0 = E[Y | X] - YHAT2, where YHAT2 is the predicted uplift for the unit under Treatment 2, according to our model. The outcome under Treatment 1 is again calculated as YHAT0 + YHAT1.

[2021-06-11 19:28] yiming-sun-stat commented on #338
I did not find tensorflow in requirements.txt but pip install causalml still automatically install tensorflow why?

[2021-06-11 21:28] jeongyoonlee commented on #350
It's because latest PR (#343) hasn't been published to PyPI yet. To use latest master, you can install `causalml` from the GitHub repo directly.

[2021-06-15 17:49] #340 closed

[2021-06-15 18:34] BrianMiner opened #353 "Clarification on UpliftTreeClassifier predict"
I am running UpliftTreeClassifier and predicting 5 values using the full output

I cant figure out what the outputs are at index 2 and 3. The 0 and 1 index values are the max of ones below.

For example, what do [0.026976378951772052, 0.01385651743943539] represent - are these the response rates of the treatment and control (in what order) and how do these relate to

'test': [0.061618]
'control':

[2021-06-15 18:47] #353 closed

[2021-06-15 19:02] paullo0106 commented on #353
One enhancement we'll need is to correct the [documentation](https://github.com/uber/causalml/blob/master/causalml/inference/tree/models.py#L483) of `UpliftTreeClassifier's predict()` function, or to unify the return in a DataFrame format as what we have in  `UpliftRandomForestClassifier` (code [here](https://github.com/uber/causalml/blob/master/causalml/inference/tree/models.py#L1362))

[2021-06-15 19:25] BrianMiner commented on #353
Yeah. I closed the issue because I figured out the "mystery" entries [0.026976378951772052, 0.01385651743943539] is the CATE for treatment - control and the p-value(!)

[2021-07-02 06:12] wsdqy1234 opened #355 "Anaconda Install "environment-py38.yml" Conflict"
I am using anaconda install. However, when I use
`conda env create -f environment-tf-py38.yml`,
the conflict appears as
![image](https://user-images.githubusercontent.com/53553706/124228702-24196a00-db3f-11eb-80ad-a141f1d409d7.png)

I'm very disappointed and wanna help. Please help me and I will be really appreciated.

[2021-07-05 18:09] DanielDaCosta commented on #355
Having the same issue here

[2021-07-05 19:24] DanielDaCosta commented on #355
Having the same problem here

[2021-07-07 20:49] chazarnik commented on #355
Hi, I tried @DanielDaCosta 's solution and it does not work for me on Windows. In general building numpy from scratch does not play well in Windows-maybe it has something to do with that.
Additionally, patsy 0.5.1 requires scipy 1.6.2 while 1.4.1 is listed on the yml file.

I also tried to install everything except for the packages that @wsdqy1234 posted. Then I installed the ones left manually. S

[2021-07-08 08:14] glukhove opened #357 "Add tree visualization for CausalTreeRegressor"
I noticed that it is not possible to visualize [CausalTreeRegressor](https://github.com/uber/causalml/blob/master/causalml/inference/tree/causaltree.pyx#L202) results as we can do for UpliftTreeClassifier. For example, I'd like to use **uplift_tree_plot()** method.

Do you think it could be supported in one of the next releases?

[2021-07-08 13:42] wsdqy1234 commented on #355
Finally, I have successfully installed `causalml-py36`, and I don't know why I cannot install other virtual environments. I think this may be helpful for someone who has the same problem.

[2021-07-09 06:17] PetrarcaBruto commented on #355
Thank you @wsdqy1234 for pointing that causalml-py36 installs. I need to test it now.
BUT causal-tf-py36 doesn't install, it fails with the following errors.

          The conflict is caused by:
                The user requested grpcio==1.37.0
                tensorboard 2.5.0 depends on grpcio>=1.24.3
                tensorflow 2.5.0 depends on grpcio~=1.34.0

            To fix this you could

[2021-07-12 07:35] shana9pm opened #358 "import error"
`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-3-ec6eace7d037> in <module>
     13 from causalml.match import NearestNeighborMatch, MatchOptimizer, create_table_one
     14 from causalml.propensity import ElasticNetPropensityModel
---> 15 from causalml.dataset import synthetic,s

[2021-07-12 07:36] shana9pm commented on #358
$ git clone https://github.com/uber/causalml.git
$ cd causalml/envs/
$ conda env create -f environment-py38.yml	# for the virtual environment with Python 3.8 and CausalML
$ conda activate causalml-py38

install in this way

[2021-07-12 09:32] shana9pm commented on #358
problem solved.

causalml compatible with numpy 0.16-0.19,but i upgrade numpy and this error disapeared.

[2021-07-12 19:47] #358 closed

[2021-07-13 20:22] am-official commented on #285
Those who are facing ModuleNotFoundError: No module named 'sklearn.utils.testing'

[code]

[2021-07-15 12:47] 00helloworld commented on #322
UpliftRandomForestClassifier(control_name='control')
works, Thanks

[2021-07-16 08:32] xuningwang opened #359 "AttributeError: 'NoneType' object has no attribute 'results'"
**Describe the bug**

i train a UpliftRandomForestClassifier,

the code:

[code]

model trained and when i predict: the following error accurs:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-34-701a1ea15d81> in <module>
----> 1 forest.predict(X = feature_train.values)

~/minicon

[2021-07-19 04:08] paullo0106 commented on #359
@xuningwang Thanks for reporting the issue, here are some questions for debugging into this:

1. Are you on the latest version 0.10 and would you get any errors with this [uplift tree notebook](https://github.com/uber/causalml/blob/master/examples/uplift_tree_visualization.ipynb)?
2. If we spot check one of the trees by running below, what output would you get?

[code]

[code]

[2021-07-19 06:17] xuningwang opened #360 "Is there any way to run causalml algo in cluster?"
hey there,

I have a huge amount of data, which requires a very long time. so i wonder if there any way to run the algo e.g. UpliftRandomForestClassifier in a cluster or in the parallel way.

thx in advance.

[2021-07-19 08:58] jroessler opened #361 "Bug in synthetic data set: mechanism 2"
**Describe the bug**
As you describe correctly [here](https://causalml.readthedocs.io/en/latest/validation.html#mechanism-2), the baseline main effect b* of the randomized trial (Setup B) in Nie and Wager (2020) is the following:

b*(X) = max{Xi1 +Xi2,Xi3,0}+max{Xi4 +Xi5,0}

However, in your implementation, you define b* as follows:
`b = np.maximum(np.repeat(0.0, n), X[:, 0] + X[:, 1] + X[:, 2]) +

[2021-07-21 08:18] ZeyuJin opened #362 "feature importance in Uplift Tree Classifier compared to leaf nodes"
Hi all,

I am running the example of "one control + one treatment" for uplift classification tree. The visualization of the uplift tree is plotted as followed:
![image](https://user-images.githubusercontent.com/8068029/126452132-8c5de289-9c2f-4d9b-91a8-5974b5233992.png)
There are totally 4 features to diverge in the tree map.

However, when I plot the feature importance using "**uplift_model.featu

[2021-07-21 17:19] paullo0106 commented on #360
Thanks @xuningwang. This will be a good addition, our dev team discussed this today on some of the directions including [RAY](https://eng.uber.com/elastic-xgboost-ray/) ([Elastic Distributed Training with XGBoost on Ray](https://eng.uber.com/elastic-xgboost-ray/) on Uber Eng Blog). We are putting this in our Roardmap.

[2021-07-21 17:30] paullo0106 commented on #355
Hello folks, thanks for raising this issue. Similar to issue #350, we think it's because the PR #343 hasn't been published to PyPI yet. To use latest master, you can install CausalML from the GitHub repo directly.

We are publishing CausalML v0.11 in the next few days and hope the installation will be more straightforward for everyone.

cc: @jeongyoonlee